[2013-02-08 18:51] lxcodes opened #8 "Needed Improvement or Requirements"
Curious if there is a list available where contributions can be made.

[2013-02-13 20:33] afinzel opened #9 "GetFilename returns null"
If you are running with a release build, then you can't get the filename for the stack trace as it returns null.  When this json is sent to sentry 5.3.3 it raises an exception in sentry as its expecting the filename(see below).  For now we have put a hack that sets the filename to http://unknown.com/unknown.exe.  I know this is not the correct approach and haven't raised a pull request but it may

[2013-02-13 20:35] #9 closed, assigned to nobody

[2013-02-26 07:36] tobio opened #11 "HttpWebResponse's aren't closed or disposed breaking the client."
This behaviour has been around for [a while](https://github.com/getsentry/raven-csharp/commit/5262b46e6f9429465860d8bb50deb98f50fcd70d#L26R68). I'd say that under normal circumstances these responses would be cleaned up by GC, however when using the client to dump large amounts of data into Sentry it would reliably break on the third log call, something like:

[code]

[2013-02-26 18:47] #11 closed, assigned to nobody

[2013-03-20 05:18] mbenford opened #14 "Stack trace info (e.g. filename and line number) is not being captured"
Some stacktrace info (e.g. filename and line number) is not being captured. Instead, only the "module" name and IL offset are. That can be fixed just by passing another parameter to System.Diagnostics.StackTrace constructor: fNeedFileInfo.

[2013-03-20 05:34] #14 closed, assigned to nobody

[2013-04-04 16:50] BarakS opened #16 "Can't report exceptions"
Hi,

I can successfully see a CaptureMessage on Sentry, but when I do CaptureException everything goes fine, but I don't see the exception on Sentry (even after waiting a while).
I am testing with the divide by zero example.
What could cause that?

Thank you!

[2013-04-17 04:11] gregmac opened #17 "Nuget package"
Publishing as nuget package would make use in .NET projects significantly simpler.

@dcramer mentioned in #8 he has a local branch with nuget working. I was also doing this internally but can wait if @dcramer is farther.

The hard part is answering these questions:
- What is the versioning strategy? Currently 0.7.8.0 and hasn't changed: https://github.com/getsentry/raven-csharp/blob/master/SharpRa

[2013-04-17 04:25] #16 closed, assigned to nobody

[2013-05-02 22:24] jsommr opened #20 "NullReferenceException when calling CaptureException and Exception is thrown by a dynamic"
Code sample that produces the exception:
try {
dynamic x = new Dictionary<string, string>();
x.jsdkfsjdkfjsdfk = "sdjfskdfj";
} catch(Exception ex) {
ravenClient.CaptureException(ex);
}

[2013-05-08 15:22] techniq opened #23 "Easy integration with ASP.NET MVC"
Once issue #17 is resolved, it would be nice if there was a nuget package to easily integrate exception handling with ASP.NET MVC apps, similar to https://github.com/alexanderbeletsky/elmah.mvc for Elmah.

I figure it should be a different project from raven-csharp (maybe raven-aspnet-mvc?), although I know the raven-python has Django/Flask/etc.  If it is a separate project, should it be part of t

[2013-06-20 17:28] galmeida opened #26 "support for protocol v4"
Is there any plans to update client to support v4 of sentry protocol?

[2013-06-24 18:53] #26 closed, assigned to nobody

[2013-07-31 11:51] #20 closed, assigned to nobody

[2013-11-15 03:58] rowandh opened #35 "Fix NullRef when SentryRequest is null"
Initializing a JSON packet can result in a null Request object which causes an unhandled NullReferenceException when Request.GetUser() is called.

[2013-11-15 06:40] #35 closed, assigned to nobody

[2013-12-13 10:46] #17 closed, assigned to nobody

[2013-12-13 10:50] #8 closed, assigned to nobody

[2013-12-13 12:09] asbjornu opened #41 "Enable symbol and source for the NuGet package"
I've had to disable the [Include sources and symbols checkbox in TeamCity](http://teamcity.codebetter.com/admin/editRunType.html?id=buildType:bt1125&runnerId=RUNNER_889) due to a [bug in NuGet](http://nuget.codeplex.com/workitem/2432) that causes the build to blow up with the following exception:
[code]
It would be neat if we could circumvent this bug so we could publish SharpRaven's symbols and s

[2013-12-17 19:15] RealBrubru opened #44 "Can we change the target framework to 4.5?"
Hi,
Can we change the target framework to 4.5?
I made some async methods using the HttpClient, inside the System.Net.Http.dll assembly.

public async Task CaptureExceptionAsync(Exception e, IDictionary<string, string> tags = null, object extra = null)

public async Task CaptureMessageAsync(string message, ErrorLevel level = ErrorLevel.info, IDictionary<string, string> tags = null, object extra = n

[2014-03-23 12:29] cyotek opened #48 "Strong Naming"
Hello,

Are there any plans to add a strong name to the assembly? Unfortunately without a strong name, it means you can't reference the library by assemblies that _are_ strong named. For the time being I've forked the repro to add my own strong name, but then I loose out on NuGet and source updates.

Regards;
Richard Moss

[2014-03-24 23:03] #48 closed, assigned to nobody

[2014-05-16 18:39] foodaemon opened #49 "Not sending exceptions through if the sentry url is using self signed certificate"
Hi, How would i sent exceptions if the sentry app is using self signed SSL certificate for its url? If i use non ssl url, the errors are being sent to sentry app but when using self signed certificate url, its not logging anything.

[2014-10-13 14:34] thedillonb opened #51 "Logger Seems Like It Should Be A Property of the Message, Not the Client"
There is currently no way to set an out-going Sentry message's Logger without setting it through the client. Unfortunately, I'm not sure it makes sense to tie the logger name to the client since client to loggers to clients may have a one to many relationship. I might suggest to have the logger be a optional parameter on the CaptureMessage or CaptureException methods and remove the Logger property

[2014-10-15 09:25] dcramer opened #53 "Update NuGet Package"
We have some pending changes that need to be pushed out in a new release.

[2014-10-20 12:04] #49 closed, assigned to nobody

[2014-10-20 12:20] #51 closed, assigned to nobody

[2014-10-20 13:58] #53 closed, assigned to nobody

[2014-11-07 16:36] aqmdla2002-2 opened #54 "No timeout"
Today, the Getsentry's website is down (302 after 30 seconds) and we have just detected that there is no timeout in the Raven client. We reviewed the code in github

[2014-11-10 13:17] #44 closed, assigned to asbjornu

[2014-11-11 14:50] #54 closed, assigned to nobody

[2014-11-11 23:13] xpicio opened #55 "Modules property is not serialized as well"
Hello, it's seems Modules property on JsonPacket is not serialized like sentry specification require. Instead of

[code]

Modules is serialized as

[code]

Here https://github.com/xpicio/raven-csharp/commit/60dd480c2729417d42649544018978f7523c7acf can you find my fix. Is it my bad or a bug ?

Bye Bye

[2014-11-12 13:37] #55 closed, assigned to nobody

[2014-11-15 10:59] Biegal opened #57 "NuGet package doesn't contain libs ?"
Hi,

I've tried to install raven-csharp through NuGet. In theory it went well, but in the end packages folder
doesn't contain any dll's.
All I got was:
raven-csharp.1.0.1.nupkg
SharpRaven.xml

Dependency do Newtonsoft.Json was alright.

Thanks in advance!
Marcin

[2014-11-19 14:19] #57 closed, assigned to nobody

[2014-11-23 22:45] thedillonb opened #60 "PCL Support for MonoTouch"
I'd love to see PCL support for MonoTouch so I can use this in my iOS applications. I'd be happy to put the PR in if you're in agreement and don't already have that work underway.

[2014-11-24 14:03] asbjornu opened #61 "Make integration tests self hosted"
As mentioned in #53, the current integration tests are based on posting JSON documents to the live Sentry backend, which is sub-optimal. At least until getsentry/sentry#1018 is implemented, but perhaps even after that, it could be useful if the integration tests instead fired up a self-hosted version of the Python backend and posted JSON to it instead.

[2014-12-04 22:56] grantfeldman opened #64 "Value does not fall within the expected range in SharpRaven.Data.SentryRequest.GetUser()"
Have found that I am occasionally receiving this exception from within the Sentry Request class. It looks like the source is the HttpContext.Request.UserHostAddress property (source-below). Are you able to offer any insights as to why this may be happening?

return new SentryUser(HttpContext.User as IPrincipal)
            {
                IpAddress = HttpContext.Request.UserHostAddress

[2014-12-05 10:53] #64 closed, assigned to nobody

[2015-01-04 04:35] thedillonb commented on #60
Code is up. It's a lot so please ask questions. It's preliminary but it's got your PCL, Xamarin framework support, and 4.5 support. Silverlight, WPA, and other friends can be easily added.

[2015-01-08 12:45] asbjornu commented on #60
Brilliant. I would love it if @mlb5000 or someone else with PCL needs could have a look at the code and see if what you've done works for them, @thedillonb. I'll have a look as soon as time allows, possibly early next week.

[2015-01-16 21:34] mlb5000 commented on #60
I will most likely try to just consume it before I read it :). I'll let you know if I have any problems integrating, which will be sometime this weekend since RayGun's reporting is just sad.

[2015-01-18 16:33] mlb5000 commented on #60
@thedillonb What is the best way to integrate this into my Xamarin.Android project that has a shared (portable) core library? I built the SharpRaven solution and imported the MonoAndroid10 DLL into the Android project, and the portable DLL into the portable library, but the app crashes soon after startup with a `System.TypeInitializationException`.

[2015-01-18 17:03] mlb5000 commented on #60
I have successfully sent an Info message to Sentry in my Xamarin.Android app

[2015-01-18 20:41] thedillonb commented on #60
Hey @mlb5000, that's awesome. Any idea what caused the `TypeInitializationException`?

[2015-01-18 20:43] mlb5000 commented on #60
@thedillonb I was trying to log a message to Sentry from `MyApplication.OnCreate`, before any of my internal classes had been instantiated (somehow even the static ones). After I moved the Sentry call to somewhere else it was OK.

[2015-01-23 13:16] mlb5000 commented on #60
@thedillonb I have the following UnhandledExceptionHandler, but it doesn't look like the exception gets recorded to Sentry. Info messages get sent up, but not exceptions. Any ideas?

        private void MyApp_UnhandledExceptionHandler(object sender, RaiseThrowableEventArgs e)
        {
            _errorLogger.LogError(e.Exception);
            var message = string.Format(Message.ErrorInUi, e.Exc

[2015-01-23 13:21] mlb5000 commented on #60
@thedillonb That is definitely what it is. I know raven-objc does something to load the iOS crash report when the app starts up. Is there some equivalent to this in Xamarin?

[2015-01-23 21:26] ryanvalentin commented on #60
I haven't worked enough with Xamarin Android to know, but usually when the Unhandled Exception event is raised, you don't want to add anything to the UI like a toast. The app might be crashing prematurely because of that. You may also be able to avoid crashing by setting `e.Handled = true;`, and the app will remain open if the application state remains stable.

[2015-01-26 04:35] thedillonb commented on #60
@mlb5000, so if you had an info message in your `UnhandledExceptionHandler` it was getting sent to Sentry but not if you sent an Exception? If that's the case it's pretty odd and I'll try to reproduce it on my side. Also, the are you `.Wait()` on the send task (Don't mark the event async, you must be synchronous here)? It's async so your app would exit the handler, and crash, even before it got th

[2015-02-28 21:04] mlb5000 commented on #60
@thedillonb I've been using this for a little while and it has been working pretty well. Where would I look to update the bindings so that I can do things like identify users, set an app version, etc?

[2015-06-15 05:32] GeirGrusom commented on #60
I need support for Profile24. Has there been any progress on PCL support?

[2015-06-15 07:45] asbjornu commented on #60
@GeirGrusom Have a look at #65 and let me know if that fits the bill.

[2015-06-19 07:00] GeirGrusom opened #71 "Make SharpRaven less System.Web hosting oriented"
We are using Sentry for both server side and client side logging, but currently it is very much designed around System.Web from a hosting perspective.

It would be desirable to be able to specify username, device name and general request info both as client and specific request data rather than it always being automatically fetched.

Our use case is that we have servers servicing requests, which d

[2015-07-29 01:35] dcramer opened #72 "Support fingerprint"
We just pushed out a release of Sentry today which adds this to basically replace hardcoding checksums in clients:

https://docs.getsentry.com/hosted/rollups/#custom-grouping

https://docs.getsentry.com/hosted/clientdev/attributes/

The gist is its an attribute on events that expects an array of strings as the value, or no value.

[2015-08-03 08:43] asbjornu commented on #71
I completely agree and would welcome and merge any pull request that fixes the problem! :)

[2015-08-04 07:13] asbjornu commented on #72
This would be so much easier to implement if you getsentry/sentry#1018 was completed. :wink:

[2015-08-21 06:43] bclermont opened #74 "Automatically pass Client Application Assembly Version"
A little bit like some other raven implemntation that forward information that come with the runtime to Sentry.

Should Raven C# forward `Assembly.GetExecutingAssembly().GetName().Version.ToString()` automatically?

This is usually always available to any apps, right? (I don't know C#/.NET).

[2015-08-21 06:47] bclermont commented on #74
oh... I'm sorry I just found about it, it's under the key that match the application name, cancel

[2015-08-21 06:47] #74 closed

[2015-08-25 12:30] asbjornu commented on #71
@GeirGrusom, could you please have a look at `develop` in its current state and see if it solves this better somehow? It will still try to load `System.Web.dll`, but its existence should be completely optional. There's also Nancy support in there now, so it shouldn't be difficult to add support for other platforms and environments.

[2015-08-25 12:32] asbjornu commented on #60
@GeirGrusom, @thedillonb, @mlb5000 and @ryanvalentin, could you please focus your energy on #70 or some derivate of it to move this feature request closer to completion? I have no need or knowledge of anything related to PCL, Xamarin or whatnot, so if you want this merged for a `2.0` release of SharpRaven, I really need your help.

[2015-08-25 12:32] #60 closed

[2015-08-25 12:34] asbjornu commented on #23
@techniq Please have a look at the `develop` branch. It should be in a state where adding a `SharpRaven.Mvc` project alongside the existing `SharpRaven.Nancy` project should be a piece of cake. I'd appreciate a pull request that at least has a beginning of something that might work, so I can move it forward to completion and roll it into a version `2.0` release of SharpRaven. Closing this in wait

[2015-08-25 12:34] #23 closed

[2015-08-25 12:42] GeirGrusom commented on #71
Will do :)

[2015-09-17 06:40] dcramer opened #76 "Support release"
https://docs.getsentry.com/hosted/clientdev/attributes/

[2015-09-17 06:40] dcramer commented on #76
FYI just going to open tickets to help us understand what is missing in C#. The new API spec will probably have JSON schema but i dont think we'll create it for the current.

[2015-09-17 06:41] dcramer opened #77 "Enable easier event building for context supports"
Right now it seems fairly complex to utilize User/Http contexts. It might make sense to do something similar to the following pattern for APIs:

[code]

(Pardon my entire lack of familiarity with C# :)

[2015-09-17 06:46] dcramer opened #79 "Setup Travis CI"
http://docs.travis-ci.com/user/languages/csharp/

[2015-09-25 18:35] #76 closed

[2015-09-28 10:22] asbjornu commented on #79
This requires Mono support, which already fails in [TeamCity](http://teamcity.codebetter.com/viewType.html?buildTypeId=bt999), so I'm not sure what we can do to make this useful. And since we have a working TeamCity build (for Windows), what use will Travis have?

[2015-09-28 17:17] dcramer commented on #79
Mostly that Travis is much more accessible to people than TeamCity. I still want to make this work but haven't had a chance yet. It sounds like it simple comes down to getting Mono support working (which tbh we want to do anyways) so I'll keep this open as a point of reference for now.

[2015-09-28 21:52] asbjornu commented on #79
Sure. If you can find anyone with time and interest in fixing Mono compatibility, that would be great!

[2015-09-28 21:58] asbjornu opened #81 "NuGet Pack SharpRaven.Nancy.csproj fails"
This command:

[code]

fails with the following error message:

[code]

Before this is fixed, we can't release version 2 or a new prerelease version of SharpRaven.

[2015-09-29 08:33] #81 closed

[2015-09-29 10:28] asbjornu commented on #41
Looks like this has been fixed and [SharpRaven v1.5.1+](https://www.nuget.org/packages/SharpRaven/1.5.1-unstable0134) includes debug symbols.

[2015-09-29 10:28] #41 closed

[2015-09-29 11:36] mol opened #82 "'exception' and/or 'timestamp' values are randomly being discarded in Sentry"
We've been using Raven and Sentry for a while now, and have always had an issue with exception data sometimes being unavailable in Sentry for no apparent reason. Testing it we've so far been able to reproduce it, and it seems to happen randomly or possibly only for certain users - but a huge lot of them.

Recentry, Sentry added a notification when it happens, so now when exception data is missing

[2015-09-29 12:39] asbjornu commented on #82
@mol I contacted Sentry about the `timestamp` warning and got the following reply from @dcramer August 18:

The `exception` warning is new to me. Which version of [SharpRaven](https://www.nuget.org/packages/SharpRaven) are you using? Before [version 1.4.2](/getsentry/raven-csharp/releases/tag/1.4.2), there was a bug in how the `Modules` property was serialized.

[2015-09-29 13:02] mol commented on #82
Thanks Asbjørn,

I see. The 'timestamp' isn't really important for us, so that's fine :)

The 'exception' is a problem though as it prevents us from viewing the stack trace and bundles tons of different issues together. We're using version 1.4.6 at the moment. I just updated to 1.5.0 on my dev machine though. I recall seeing that modules fix earlier and hoped it would fix it, but unfortunately it

[2015-09-29 13:16] asbjornu commented on #82
@mol If we get something working for #61, performing tests for integration issues like these would be much easier, so please feel free to pick that up and run with it. :wink: Otherwise, I'm not sure how we should test this, other than (as we do now) fire away at the live, public Sentry API and make assertions about the response.

I've never used obfuscation, but that indeed sounds like what might

[2015-09-29 13:44] asbjornu commented on #77
@dcramer I'm not sure, but I believe #71 covers this quite well and that the latest prerelease of `develop` contains improvements in this area.

[2015-10-01 15:57] mol commented on #82
Yeah it's caused by the obfuscation. I just ran a version of my app that was rigged to fail both unobfuscated and obfuscated. The unobfuscated one didn't have the exception fail in Sentry and the obfuscated one did. Sentry has the raw JSON listed now so I have it for both reports. @dcramer how to proceed from here? I'm not really familiar with Python.

[2015-10-10 15:21] Freundschaft opened #84 "not working for windows phone?"
Am I mistaken or is this module not working for windows phone 8 and 8.1?

[2015-10-10 20:46] asbjornu commented on #84
@Freundschaft I've never tried, but I guess this is related to #70.

[2015-10-10 21:01] Freundschaft commented on #84
ah alright, I just tried to create a project as windows phone library, but it seems some namespaces are not present on windows phone that are used in raven-csharp. also I think it will be a lot harder to get the stacktrace with line numbers on windows phone because it's not possible to add PDB files to windows phone binaries :(

[2015-10-10 22:49] asbjornu commented on #84
If line number isn't available, [SharpRaven will fallback to IL offset](/getsentry/raven-csharp/blob/master/src/app/SharpRaven/Data/ExceptionFrame.cs#L59). Not extremely useful, but it will at least not crash.

[2015-10-10 23:34] Freundschaft commented on #84
there's something here but I havent tried it yet:
http://blogs.msdn.com/b/lucian/archive/2013/08/15/how-to-get-exception-stacktrace-line-numbers-on-windows-phone.aspx

[2015-10-12 08:23] asbjornu commented on #84
@Freundschaft If you can get anything working, I'd appreciate a pull-request. :smiley:

[2015-10-15 14:22] Freundschaft commented on #84
I will, as soon as I get something running, might take a while though cause I am busy in some other projects :)

[2015-10-20 09:09] asbjornu opened #85 "Add support for debug symbols"
As in getsentry/raven-objc#11, we need to add support for debug symbols in the C# client. This requires back-end support from @dcramer and his team, but as soon as that is in place, we should be able to upload `.pdb` files and have them attached as artifacts to a release.

[2015-11-13 06:36] jmalczak opened #86 "Exception Data is not send to Sentry by default"
So i had to manually set Exception.Data property to be send as extra field. I believe it should be sent by default to sentry.

[2015-11-16 19:10] dcramer commented on #86
Not a C# dev myself, can you explain what Exception.Data contains? I want to make sure we support use cases fairly upstream.

[2015-11-17 02:59] jmalczak commented on #86
Sure. It's the same concept as extra field. This is taken from MSDN documentation "a collection of key/value pairs that provide additional user-defined information about the exception". You can read more about it here: https://msdn.microsoft.com/en-us/library/system.exception.data(v=vs.110).aspx

[2015-11-18 14:29] asbjornu commented on #86
@jmalczak It's pretty easy to just shove the `Data` from the first exception in the stack inside the `extra` dictionary, but what about `Data` in `InnerException`s? Should each `Data` dictionary have their keys prefixed with the name of the exception they occurred in and then flattened to one dictionary? And how should this be combined with the existing `extra` dictionary? How should collisions in

[2015-11-19 09:05] jmalczak commented on #86
Yeah if you think about inner exceptions it's not so trivial. Thx for the branch, I will take a look at it.

[2015-11-19 16:21] jmalczak commented on #86
Ok. So i have removed this test from Integration and created new ones in JsonPacketFactory tests, i think it is fine to have it there since Capture is just wrapper for passing arguments. I have also fixed compilation error and issue with UniqueKeys. Please take a look, give me some feedback. Regarding data itself, maybe we can prefix exception data somehow, for example when you invoke Capture like

[2015-11-20 16:09] asbjornu commented on #86
@jmalczak Thanks. I've merged and done a bit more on this. Let's continue the discussion in the #87. I'm closing this.

[2015-11-20 16:09] #86 closed

[2015-12-09 12:22] bartvanderwal commented on #23
Hi @techniq! Your code looks great. I'm trying to incorporate it into my app now.

One remark though, don't you need to add the new custom `ErrorAttribute` and `ExceptionFilterAttribute` to the filters instead of the default ones?

1. So for the MVC in 'Global.asax' 's `Application_Start()` don't you mean:
[code]

instead of:
[code]

2. And for WebApi controllers in the `Register` method of `WebAp

[2015-12-09 12:41] techniq commented on #23
@bartvanderwal yes, that looks right. If you have time you could submit a PR to the project.

[2015-12-09 22:12] asbjornu commented on #23
@bartvanderwal, @techniq a pull request would be highly appreciated. Don't worry about making a NuGet package and such; just make something that works for you along with one or more tests (the more, the better).

[2016-01-05 21:45] #79 closed

[2016-01-05 21:46] #72 closed

[2016-01-06 01:19] dcramer opened #94 "Move towards an Event Builder"
The current way that events are generated makes it tough to handle a lot of arbitrary attribute (due to C#'s lack of something like kwargs).

For example, every time a new arg is added, it gets added to CaptureException, and thus to JSONPacketFactory.Create.

It'd make sense to take the unique bits (exception) and split them into their own generative items, possibly something akin to:

[code]

[2016-01-06 01:41] dcramer commented on #85
Hoping to tackle this *very* soon.

This might be ok to base things on, but likely is too slow because python:

https://github.com/moyix/pdbparse

[2016-01-06 14:22] asbjornu commented on #94
I agree that this would lead to cleaner extensibility. Adding an overload to `CaptureException`, or perhaps even an extension method, will preserve backwards compatibility too. :+1:

[2016-01-06 21:57] asbjornu commented on #71
Closing this in await for a new pull request.

[2016-01-06 21:57] #71 closed

[2016-01-14 08:29] asbjornu commented on #84
@Freundschaft I'm closing this in wait for a PR. Hope you find time for it soon. :)

[2016-01-14 08:29] #84 closed

[2016-01-14 08:34] asbjornu commented on #82
@dcramer Do you have an update on this? It seems related to getsentry/sentry#1508 and getsentry/sentry#2482. Do you think the details have been sufficiently captured in those issues so this can be closed? If so, @mol can perhaps follow those instead?

[2016-01-14 08:40] asbjornu commented on #77
Now that we have [SharpRaven.Nancy](https://www.nuget.org/packages/SharpRaven.Nancy) out with support for capturing HTTP context information from [Nancy](http://nancyfx.org/), I feel we have an idea on how to solve this for different environments. Since HTTP context stuff usually isn't interface based, it's hard to abstract much more, at least until [OWIN](http://owin.org/) is the only interface w

[2016-01-14 08:40] #77 closed

[2016-01-14 08:49] dcramer commented on #82
I think its more than likely that if somethings being discarded its an encoding issue or its the wrong data type. I have a hard time keeping everything straight, but I know we've sorted out some timestamp issues in the past, so looking at specifically the exception value there's a good chance if its not consistently throwing it away its an encoding issue. Ignoring the linked issues as tbh both are

[2016-01-14 11:50] asbjornu commented on #94
@dcramer I've created #98 that we can play around with until we reach a design we're happy with. I'm already quite happy with how it looks.

[2016-01-14 11:50] #94 closed

[2016-01-14 13:05] mol commented on #82
We switched to another obfuscator that doesn't obfuscate the actual method and property names of the app, which means the stack trace wasn't obfuscated - that fixed the issue for us. Why there was an issue with the timestamp property I don't know though. Maybe it too was obfuscated somehow along with the app.

Anyway, as far as I'm concerned we can close the issue - but of course the underlying is

[2016-01-14 13:08] mol commented on #82
As I recall I saw errors when sending an unobfuscated stack trace through the data property though, at one time. But I fixed that by running a fork where I added a way to send a custom stack trace via the "regular channel" :)

[2016-01-14 16:27] asbjornu commented on #82
@mol Perhaps you can replicate such an obfuscated stack trace in a test and PR that against the [Sentry](/getsentry/sentry) project? Either way, it's not much we can do about it in SharpRaven, so I'm closing this. Thanks for the input! :)

[2016-01-14 16:27] #82 closed

[2016-01-14 17:35] mol commented on #82
You're welcome. I would, but I'm swamped with work, so I can't right now unfortunately - but maybe someone will see this and do it at some point :)

[2016-01-21 11:45] uber-rob opened #99 "SharpRaven messages not getting to GetSentry for some requests"
I'm using Log4net / SharpRaven / SentryAppender in a Web.API project with a custom IExceptionLogger set up to send exceptions to Sentry.

Locally, when testing with Postman, exceptions are thrown and they appear in Sentry a few seconds later. On production, when testing exceptions from a browser window the same happens.

However when a different internal server uses the API exceptions just disappe

[2016-01-21 12:04] uber-rob commented on #99
I'll also use the ErrorOnCapture property and report back if that catches anything (hadn't seen that in the documentation, sorry)

[2016-01-21 12:26] uber-rob commented on #99
OK I think I know what this is, and it's probably not SharpRaven. Some of my requests need to alter the way certificates are trusted manually (because of a really dodgy service underneath it) and that may be destroying the secure connections to GetSentry. Why this isn't happening locally is odd, but believably an environment concern.

[2016-01-21 12:34] uber-rob commented on #99
I've documented additional logging options to help future devs, hope this helps.

[2016-01-21 12:34] #99 closed

[2016-01-21 14:08] razzmatazz opened #101 "NRE in ExceptionFrame.cs (or maybe a mono bug)"
Hi,

I have an issue where the following stack trace is emitted:
[code]

The problem is that code on line 64
[code]
is expecting for the `method` variable to be non-null as it is dereferencing `method.DeclaringType` immediately. In my case, however, this assumption fails for some reason and then I get a NRE.

The platform is mono 4.2.1 x86, raven-csharp @ master (commit 74a771068ef660558c3a1dd6ff7

[2016-01-21 19:14] asbjornu commented on #101
@razzmatazz If you can come up with a neat default value in place of `null`, I'd be more than happy to accept a pull request. I don't believe a policy for bugs in the underlying platform exist, but if a simple `??` or `?:` can fix an issue for you, I don't really care where the bug originates from. :)

[2016-01-22 11:05] razzmatazz commented on #101
Good :) One moment, will try to add a test there and will post the PR later.

The actual issue appears to be that mono is returning a `null` for this stack frame:
[code]

So it is probably not a bug per-se, just a platform issue.

One question I have is: what is a "neat default value". I am thinking about using `(unknown)` but not sure if that is how other platforms do on sentry (so it would look

[2016-01-22 11:12] razzmatazz commented on #101
btw, `frame.ToString()` returns
[code]
for this frame so that is of no use either – I was thinking about using that for setting the `.Function` attribute.

[2016-01-22 19:52] asbjornu commented on #101
Fixed in 9819624226e853195d75282a2ea304b4bcd2ed78.

[2016-01-22 19:52] #101 closed

[2016-01-23 07:29] razzmatazz commented on #85
One thing I would like to note, is that future VS and mono versions will have an option to generate open `.PPDB` format debug information files. This is an open format and are supposed to be supported by both mono and MS runtimes. See http://tirania.org/blog//archive/2015/Jul.html

[2016-02-18 08:58] xpicio opened #105 "Unable to resolve dependencies 'SharpRaven 2.0.0-unstable0211'"
Hello, installing the develop package SharpRaven.Nancy i get the following error message:

[code]

[2016-02-18 10:03] asbjornu commented on #105
@xpicio Yes, this is a bug in NuGet (NuGet/Home#1365) where for some reason the `-Pre` flag isn't also applied to dependencies, so you need to upgrade with `-IgnoreDep` as well. Nothing we can do about it, I think.

[2016-02-18 11:47] xpicio commented on #105
@asbjornu thank you.

[2016-02-18 11:47] #105 closed

[2016-02-18 14:12] fatagun opened #107 "Thread Safety"
Hello,

Is Raven C# client thread safe?

Can I have a single instance per application? or instance per request?

What is the best practice?

Thanks.

[2016-02-18 16:10] asbjornu commented on #107
@fatagun Hi. To be safe, I'd instantiate `RavenClient` for each thread. Although the `Capture` methods don't mutate state and create new `HttpWebRequest` objects per invocation, there are other properties and such on `RavenClient` that might not be thread safe, so to be sure, I'd create one client per thread.

[2016-02-18 16:57] fatagun commented on #107
ok thank you.

[2016-02-18 16:57] #107 closed

[2016-03-06 16:29] LordMike opened #108 "Exception.Data in RavenSharp 1.5.1 ?"
Is `Exception.Data` included in `RavenSharp 1.5.1`?
I'm trying out stuff like:

    ex.Data.Add("Hello world", "Hello");
    ravenClient.CaptureException(ex);

But I'm not seeing the "Hello world" in Sentry. I also can't find it in the actual submission to Sentry (as seen with Fiddler), so I suspect it's never sent. Is #87 not in 1.5.1 ?

[2016-03-07 09:50] asbjornu commented on #108
@LordMike No, `Exception.Data` is only available in [2.0 (unstable)](https://www.nuget.org/packages/SharpRaven/2.0.0-unstable0209). I'm hoping to get a stable release out this week.

[2016-03-07 23:51] LordMike commented on #108
Awesome. :+1:
I went ahead and used the dictionary anyways - it'll all sort itself in 2.0+ then.

[2016-03-07 23:51] #108 closed

[2016-03-08 11:42] razzmatazz commented on #108
New version would be nice. I've been waiting for a fix to #101 for two months already :)

Thanks

[2016-03-08 12:17] asbjornu commented on #108
@razzmatazz [2.0](https://www.nuget.org/packages/SharpRaven/2.0.0) was published just a few hours ago. Get it while it's hot! :fire: :smile:

[2016-03-13 07:01] jmalczak opened #109 "Error level and extra on messages with new Capture API."
Hi, is there any way to set level to Info and to add extra objects to messages when you use new Capture API (CaptureMessage is marked as obsolete)? I have tried:

Capture(new SentryEvent(new SentryMessage(message)) { Extra = myObj });

but it didn't work for me. Setting level this way didn't work either. I have always log level Error.

Thanks

[2016-03-16 11:11] GotenXiao opened #110 "Documentation is out of date"
Congratulations on the release of 2.0!

Unfortunately, the documentation is still showing for the 1.x API (both on the GitHub README and on https://docs.getsentry.com/hosted/clients/csharp/). This caused some confusion when installing SharpRaven on a new project and being told that CaptureException was deprecated.

[2016-03-16 15:49] Meilu opened #111 "Unable to set tags in 2.0"
Just downloaded the new 2.0 version and it looks like i am no longer able to set the tags in the new Capture method. The old CaptureEvent does support a dictionary with tags as parameter but seems to be tagged as obsolete. How are we supposed to set tags in the new version?

[2016-03-16 20:21] rustyswayne commented on #111
I encountered the same issue when trying to set the ErrorLevel when passing a SentryEvent to the Capture method.  What is happening is the JsonPacketFactory instantiates the default type but does not assign all of the properties from the SentryEvent.

I just fixed it in my implementation and will submit a pull for to be reviewed.

[2016-03-16 20:45] ryankanno opened #113 "Ability to set the SentryUser via the SentryEvent interface?"
I don't see a clean way to access the properties of the SentryUser via the new SentryEvent Capture interface.

Currently, I'm setting some tags to be able to filter the user, but would like to access the SentryUser to be able to set the fields programmatically.

[2016-03-17 20:55] asbjornu commented on #113
@ryankanno Thanks for reporting this. I've released a [2.1 prerelease on NuGet](https://www.nuget.org/packages/SharpRaven/2.1.0-unstable0020) that I would very much appreciate if you could test and report back whether fixes the problem or not.

[2016-03-17 20:55] asbjornu commented on #111
@Meilu Thanks for reporting this. I've released a [2.1 prerelease on NuGet](https://www.nuget.org/packages/SharpRaven/2.1.0-unstable0020) that I would very much appreciate if you could test and report back whether fixes the problem or not.

[2016-03-17 20:57] asbjornu commented on #110
@GotenXiao Thanks for pointing this out. I'll be sure to get to it some day, but if you have time to fix it, I would highly appreciate a pull request. You can edit the documentation directly on GitHub, no need to fork or clone locally. Just browse to the file you want to edit and click the edit pencil.

[2016-03-17 20:59] asbjornu commented on #109
@jmalczak The new `SentryEvent` code path was not water tight, to say the least. I think I've plugged the holes and covered them with a lot of more tests now, so please have a go at [2.1 prerelease on NuGet](https://www.nuget.org/packages/SharpRaven/2.1.0-unstable0020) and report back whether fixes the problem or not.

[2016-03-18 08:33] Meilu commented on #111
Hello guys, thank you for looking into this. I have tried the new version except i am still having the same issue. I checked out the source and i think the problem here is that the tags property on the sentryevent object is private without a set method. How can i pass a sentryevent with tags when it is set to private and without a set method?

[2016-03-18 11:21] lwhuybrechts commented on #113
@ryankanno We've also experienced this problem. The way we fixed it is to inject a custom SentryUserFactory in the RavenClient, in which we override the OnCreate function. Here we set the properties of the user.

[2016-03-18 12:27] Meilu opened #114 "Url tag value is maintained throughout exceptions"
Currently testing some exceptions and noticed that the Url tag keeps the same value as the first exception when viewed in sentry dashboard. Any consecutive exceptions will always have the same url tag value as the initial one.
Have tried overriding it when creating an sentry event but that did not work.
I can get it to work by initialising a new ravenclient on every exception but that seems a bit

[2016-03-18 12:51] ryankanno commented on #113
@lwhuybrechts I did look at https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L288 to do that, but in my case, I wanted to dynamically set properties based on constructs that weren't in a global scope. I could have it injected it somewhere where it was accessible, but it felt a bit like I was fighting the lib. :)

[2016-03-21 09:34] Meilu commented on #111
Scratch my last comment, i didn't realise i could just call the add method on the dictionary.This issue is solved.

[2016-03-21 09:34] #111 closed

[2016-03-21 10:04] lwhuybrechts commented on #114
It appears that the headers from the first exception are also maintained and logged with any consecutive exceptions (even when there are exceptions from different requests).
@asbjornu Are we supposed to create a new RavenClient for every exception? Is there any way we can fix this on our side? :)

[2016-03-21 19:16] asbjornu commented on #111
@Meilu Awesome, thanks for reporting back! :smiley:

[2016-03-22 10:34] asbjornu commented on #113
@ryankanno If you have ideas on how it could be done more elegantly, please write them here or submit a pull request. I don't have time to look into this myself in a while, I'm afraid.

[2016-03-22 14:45] asbjornu commented on #114
@Meilu @lwhuybrechts, This sounds like a bug introduced in v2.0. If you're able to pinpoint what change might have introduced the problem, I'd highly appreciate it. You're not supposed to create a new instance of `RavenClient` for every exception. :smiley:

[2016-03-22 16:45] lwhuybrechts commented on #114
@asbjornu Hey Asbjørn, I'm afraid we've only just started implementing Sentry (coming from Elmah) in our WebAPI, so it's really hard to say what might have changed since v2.0. Overall it has been hard implementing raven-csharp without up-to-date documentation ;)

We have been trying to find the cause of this problem by inspecting the source and trying to debug, but no success so far. Is there a ch

[2016-03-25 10:15] Meilu commented on #114
@asbjornu i may have found the bug, in the GetHttpContext() method there is a check if the HttpContext already exists or not. If it exists it does not rebuild the context but used the same static httpcontext again that was created on the first request. Because the httpcontext is static even creating a new ravenclient on every request will not solve out issue. So im thinking to remove the check and

[2016-03-25 11:00] Meilu commented on #114
I have commited a pull request that should fix this, let me know what you think.

[2016-03-29 20:24] ryankanno commented on #113
@asbjornu I could take a stab at it. Is there any historical context as to why it wasn't exposed on the SentryEvent interface? (Only so that I don't go down routes that weren't expected). At first glance, it seems like the resulting JsonPacket could just absorb the User from the SentryEvent interface (if it were exposed).

[2016-03-30 06:50] asbjornu commented on #113
@ryankanno There's no particular reason I can think of, so please add it the way you think is best and do a PR in which we can discuss the details. :+1:

[2016-03-30 13:18] asbjornu commented on #114
@Meilu #116 has now been merged and is included in the [latest prerelease package on NuGet](https://www.nuget.org/packages/SharpRaven/2.1.0-unstable0025). Please try it out and report back if it helps remedy the problem or not.

[2016-03-30 13:45] asbjornu commented on #109
@jmalczak You were correct, `LogLevel` was indeed missing. @xpicio was kind and fixed that in #117, which is merged and included in the [latest prerelease on NuGet](https://www.nuget.org/packages/SharpRaven/2.1.0-unstable0025). Please test it and report back whether it fixes the problem or not.

[2016-03-30 14:58] Meilu commented on #114
@asbjornu thanks! We have installed the prerelease version and will set it live tommorow. So far it looks like this has fixed it. We'll let you know if anything is wrong.

[2016-03-30 16:01] asbjornu commented on #114
@Meilu I'm glad to hear that! Now, do you have any idea on how we can test this?

[2016-03-30 17:16] Meilu commented on #114
@asbjornu sure, if you mean if it works and if it fixes our bug, in our case since we are using a webapi we simply test multiple calls that crash with different users. We check the headers and the url value in sentry and see if the values are the unique for every user (access tokens, language etc). Performance wise there should also be no noticeable delays since it should not try to get the latest

[2016-03-31 03:28] mogikanin commented on #109
Also tags are missed. Here the sample with old approach which works fine, and similar code for Capture method which doesn't work (tried only 2.0 release)

[code]

[2016-03-31 05:35] asbjornu commented on #114
@Meilu I was thinking about an automated NUnit test. Applications that don't use `HttpContext` should not care; that's why I wrote the reflection-based prodding for `System.Web.HttpContext.Current` in the first place.

[2016-04-01 12:03] asbjornu commented on #109
@mogikanin The [`MergeTags()`](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L413) method should assure that tags are properly merged and as you can see [here](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L183), the tags are set. The [`TagHandling`](https://github.com/getsentry/raven-csharp/blob/develop/src/test

[2016-04-02 04:00] mogikanin commented on #109
@asbjornu Latest pre-release works fine.

[2016-04-02 09:14] asbjornu commented on #109
@mogikanin Excellent! How does it work for you, @jmalczak?

[2016-04-02 10:16] jmalczak commented on #109
Sorry guys. I have decided to use obsolete api for now, so I couldn't check if issue have been fixed. Since @mogikanin confirms it works fine. Feel free to close issue. Thanks!

[2016-04-02 19:32] asbjornu commented on #109
@jmalczak Ok, I hope the problem is fixed even though you haven't had the opportunity to test it yet. Please report back when you do if something's odd. Thanks! :smiley:

[2016-04-02 19:32] #109 closed

[2016-04-04 15:30] hmiguel opened #119 "Error Level not working (SharpRaven.2.1.0-unstable0020)"
Hey,

I'm testing the realease **2.1.0-unstable0020** and I can't set the **Error Level** status, always return "Error" status.

`(...)
@event.Level = ErrorLevel.Debug;
 raven.Capture(@event);`

Even with the old api!

` raven.CaptureMessage(msg, ErrorLevel.Debug);`

Thanks

[2016-04-04 20:06] tonymke commented on #119
We are also experiencing this on the current stable release on NuGet.

Consider this simple example program:

[code]

The event is logged as an error, irrespective of the fact we specified the event as Informative, it is logged as an error on GetSentry, as shown in this screenshot: http://i.imgur.com/bwOpGRg.png

[2016-04-04 20:25] Jakehp commented on #119
I'm experiencing the same issue as well. +1

[2016-04-05 07:22] asbjornu commented on #119
As you can see by the Release Note, this was fixed in [version 2.1.0-unstable0025](https://www.nuget.org/packages/SharpRaven/2.1.0-unstable0025):

I would therefore recommend upgrading to [version 2.1.0-unstable0028](https://www.nuget.org/packages/SharpRaven/2.1.0-unstable0028) and testing again. I'm pretty certain that should fix this and a few other problems.

[2016-04-05 07:23] asbjornu commented on #119
If you can confirm this fix, I'll release a stable version 2.1 of this later today.

[2016-04-05 09:41] hmiguel commented on #119
@asbjornu It seens ok. Thanks.

[2016-04-06 06:34] asbjornu commented on #119
@hmiguel Thanks for testing. A stable [version 2.1](../releases/tag/2.1) is now out.

[2016-04-06 06:34] #119 closed

[2016-04-07 23:33] Jakehp commented on #119
Thanks @asbjornu :+1:

[2016-04-22 06:11] mathieukempe opened #123 "User is not populated properly in some cases"
We noticed that in some cases the user passed to GetSentry is not populated correctly in GetSentry

Looking at
https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L288

[code]

This tweak is fixing the issue

[code]
As SentryUser Create() method rely on SentryRequestFactory

[code]

[2016-05-11 21:27] c0bra commented on #110
:+1:

[2016-05-13 19:58] asbjornu commented on #123
@mathieukempe Is this in any way improved in [version 2.1 of SharpRaven](https://www.nuget.org/packages/SharpRaven/2.1.0)?

[2016-05-13 19:58] asbjornu commented on #113
Closing this in await for a pull request.

[2016-05-13 19:58] #113 closed

[2016-06-14 23:22] polarina opened #125 "Add support for .NET Core"
Hi,

Is it possible to get the ability to use this library with .NET Core?

Thanks in advance!

[2016-06-20 13:12] mogikanin opened #126 "PCL support?"
Do you have plans to ship assemblies for .net portable too?

[2016-06-27 11:21] samukce opened #127 "Send to analysis a text long (log) to Sentry (Initial version with send for Microsoft Storage)"
Hi guys!

We have decided to use to getsentry to capture errors and information. So, in specials situations, i had that capture a long text to analyse sent from desktop applications.

The better solution was to send the file to Microsoft Storage and in the extra message of the Sentry put the link to access the file.

Maybe someone has a similar situation. Then I put in NuGet and Github.

Source: h

[2016-06-29 19:16] dcramer commented on #127
What kind of text is it? Curious what might be useful that we don't yet support today.

Closing this ticket out but let's keep convo going.

[2016-06-29 19:16] #127 closed

[2016-06-29 20:38] samukce commented on #127
For instance, when is a system of communication with another system and then, for understand exactly what happened in some error situation is useful to read all communication until that moment. No is necessarily a stacktrace, but a communication log.
This way is it possible capture a logtext of business without human interaction.

[2016-06-30 08:29] asbjornu commented on #127
@samukce It sounds like [Breadcrumbs](https://docs.getsentry.com/hosted/learn/breadcrumbs/) might be a better solution to this problem. Have you looked at it? It's currently not supported in the SharpRaven client, but if you find that this is a feature that perhaps solves your use-case better, I'm happy to receive a pull request for it. :smile:

[2016-06-30 08:30] asbjornu opened #128 "Add support for breadcrumbs"
We need to implement support for [Breadcrumbs](https://docs.getsentry.com/hosted/learn/breadcrumbs/) in the client.

[2016-06-30 17:44] samukce commented on #127
".. whenever an error or other Sentry event is submitted to the system, breadcrumbs that were logged before are sent along to make it easier to reproduce what lead up to an error."

I think so! =D
I will be happy to contribute.

[2016-07-07 06:53] tigerclawn82 opened #129 "RateLimit"
Hi, is there any Plan to support rate limiting?

[2016-07-07 19:44] samukce commented on #128
Please, could you merge my pull request? =)

[2016-07-13 19:15] tigerclawn82 opened #133 "sentry_version in X-Sentry-Auth"
Hi, currently sentry_version is sent 4 in https://github.com/getsentry/raven-csharp/blob/6bae19b71942355015add84e27792bb9747d1c3c/src/app/SharpRaven/Utilities/PacketBuilder.cs

on Sentry documentation on Authentication section, it is mentioned that

[code]

[2016-07-20 20:36] c0bra commented on #110
@asbjornu Furthermore, while `CaptureException(Exception)` is deprecated it's still in use in the units tests...: https://github.com/getsentry/raven-csharp/blob/master/src/tests/SharpRaven.UnitTests/RavenClientTests/CaptureExceptionTests%20.cs

How are we SUPPOSED to capture an Exception? With `CaptureException(new SentryEvent(Exception))`?

I'd be happy to update the docs (or add an implicit oper

[2016-08-02 15:37] genne commented on #123
Any updates on this? I almost never get the correct user info in Sentry.

[2016-08-07 00:19] asbjornu commented on #123
@genne Which version are you using?

[2016-08-08 12:49] asbjornu commented on #110
@c0bra The unit tests will continue to execute methods that exist until they are removed, to ensure that they still work, although deprecated. The recommended way to capture exceptions now is with the [`Capture(SentryEvent)`](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/IRavenClient.cs#L97) and [`CaptureAsync(SentryEvent)`](https://github.com/getsentry/raven-csharp/blo

[2016-08-08 15:56] genne commented on #123
2.1.0 (nuget package)

[2016-08-08 17:35] asbjornu commented on #123
@genne How are you capturing? Which method on `ISentryClient` are you using?

[2016-08-08 18:38] erandros commented on #125
@polarina I tried porting it to core, but it felt like non-trivial. Looks like the CoreFX project still needs to update some legacy C# stuff for SharpRaven to work (for example: adding Environment.UserName https://github.com/dotnet/corefx/pull/9851).
Maybe someone with more experience on .NET can make a port.

It was thinking of manually sending HTTP requests to sentry to avoid using SharpRaven, b

[2016-08-08 18:50] genne commented on #123
I'm calling Capture(SentryEvent) on an instance of RavenClient.

[2016-08-10 08:24] asbjornu commented on #123
@genne, @mathieukempe: Would any of you care to submit a pull request with the alleged fix? I don't quite understand how it can fix this problem, but if it does, I'll happily merge it!

[2016-08-10 09:43] genne commented on #123
As mentioned by @mathieukempe, the order of the two lines must be swapped, since `SentryUserFactory.Create()` depends on `SentryRequestFactory`. Though, even if you fix that you still store the current `HttpContext` as a static instance which will not work when you have multiple requests occurring at the same time. You either need to use `ThreadStaticAttribute` before each static variable, or remo

[2016-08-10 10:03] asbjornu commented on #123
@genne I'll be the first to admit that this part of the code is bad in every imaginable interpretation of the word. It's horrible. But I blame most of that on `HttpContext.Current` being static and requiring a reference to `System.Web.dll`. If you have ideas on how to improve this, you'd receive all the virtual :heart: I can give and I'd be very happy. :smiley: Looking forward to that PR!

[2016-08-10 10:22] genne commented on #123
The main fix for it was to make sure you don't store the instance of `HttpContext.Current` (since it requires things to happen in a certain order and also won't work good for multiple requests), but instead always evaluate it. Also, not sure why `HttpContext` was set to null in all test cases, but had to remove it since it's a getter only by now.

Static properties/variables are always a pain :smi

[2016-08-12 09:22] #123 closed

[2016-08-15 09:45] #133 closed

[2016-08-15 09:47] asbjornu commented on #128
Merged in 6049832 as part of #131.

[2016-08-15 09:47] #128 closed

[2016-08-16 09:24] asbjornu commented on #126
@mogikanin I know nothing about PCL, but would be happy to accept pull requests for it!

[2016-08-16 09:24] asbjornu commented on #129
@tigerclawn82 Is this supported in any of the other Sentry clients? How would it work?

[2016-08-16 10:30] #110 closed

[2016-08-16 17:17] dcramer commented on #129
@asbjornu we do support the rate limited response in at least a couple clients for back off timers. It's implemented as the standard 429 header with a retry-after header in most cases.

[2016-08-21 12:12] mogikanin commented on #126
In current state it's not easy to build PCL version since StackTrace\StackFrame types are not included into PCL. But luckily at the moment I need only version for Xamarin.Mac (targetFramework="xamarinmac20"), and I tried to build it, and it works fine :) Just tested it with my Xamarin.Mac application. Here my [fork](https://github.com/mogikanin/raven-csharp/tree/xamarin.mac) with changes. If you w

[2016-08-21 21:41] LordMike opened #144 "Exception thrown in Capture for an exception"
So, slight issue here (unsure what's wrong). When calling Capture on a `SentryEvent` created from an exception I'd like to track, I get an `ArgumentNullException`. Apparently an enum is being parsed, but `TryParseEnum` barfs on it. The entire stack trace (all one lines of it) are below. In the image further down, you can see the creation of the `SentryEvent`.

     at System.Enum.TryParseEnum(Type

[2016-08-21 21:56] LordMike commented on #144
Apparently it happens in `SharpRaven.Data.Requester::Request()`. I am unsure what exactly is null - and as the event doesn't end in my sentry, it may be that the request never leaves the client.When I went to investigate by running Fiddler to capture the events, I suddenly got an exception on the `return response.id;` line - I unfortunately missed the text as I clicked F5 too quickly.

That event

[2016-08-22 07:43] asbjornu commented on #126
@mogikanin If you could submit a PR with your rebased changes, it would be easier to compare, so yes; please do so! :smiley:

[2016-08-22 08:28] asbjornu commented on #144
@LordMike Thanks for digging into this! Not sure what's going on there, but that code could indeed use some more error recovery, checks and bounds. Since you already have your nose deep into this code, would you care to create a pull request improving it? :smiley:

[2016-08-22 18:04] LordMike commented on #144
I have no idea what's wrong.. It seems like some internal thing in .NET itself, which makes it very hard.
I had a number of other weird issues yesterday too, so I'll try again today and see if they're reproducible.

[2016-08-22 18:19] asbjornu commented on #144
@LordMike The return of `response.id` without checkout `response != null` is asking for trouble. The same is casting `webRequest.GetResponse()` to `HttpWebResponse` without a null-check first. `webRequest.GetResponse() as HttpWebResponse` would have been more robust, but a `null`-check there would be good regardless.

[2016-08-22 18:52] LordMike commented on #144
Ah, that part. I figured out the errors though.

A colleague pointed out that my stack was all crazy when VS gave me the exception (not the stacktrace, but the Stack view in VS) - I was way inside mscorlib. Apparently, I had `Just My Code` disabled under debugging options. This makes VS try to debug anything an all, and not just my own code (hence the name)..

I suspect this option was disabled un

[2016-08-22 18:52] #144 closed

[2016-08-22 19:27] asbjornu commented on #144
@LordMike I'm glad you figured it out! :smile:

[2016-08-23 06:54] mogikanin commented on #126
Ok, I've submitted PR.

[2016-08-23 08:32] asbjornu commented on #126
@mogikanin Excellent. Let's continue the discussion in #145 and close this?

[2016-08-24 01:24] soccermitchy opened #146 "Pass assembly version as release to Sentry?"
Would it be possible to pass the version of the assembly to Sentry so we can use it's release tracking on exceptions?

[2016-08-24 01:30] soccermitchy commented on #146
Nevermind, just saw RavenClient.Release. Nice job. me.

[2016-08-24 01:30] #146 closed

[2016-08-24 10:58] marcomorain opened #147 "Ideas on demangling the function names of async tasks?"
Hi there,

I'm currently trying to clean up how our C# stack-traces look in Sentry. You merged my PR last week to add the 'in-app' flag which has made a _huge_ difference. Now we only see our code by default in stack traces.

The next piece I want to try to tackle is the names of async functions, but I thought it best to open an issue before writing any code.

Our stack-traces (from the dotnet run

[2016-08-24 11:03] marcomorain commented on #147
Screenshot of what it looks like in Sentry:

![mangle](https://cloud.githubusercontent.com/assets/448001/17928488/c6178418-69f2-11e6-95ba-c930dfd7802b.png)

[2016-08-24 11:42] asbjornu commented on #147
@marcomorain I've seen the problem and think this is a good idea. The problem is that we can't know beforehand what scheme the compiler will use when translating lambdas, `async` and other syntactic sugar constructs to MSIL. In the future, we most likely only have to care for what Roslyn does, but today we at least need to cater for `cs.exe` and [`dmcs`](http://www.mono-project.com/docs/about-mono

[2016-08-24 17:50] marcomorain commented on #147
Brain dump on the train:

I was going to try out an approach of progressive enhancement - if we can pattern match against some known constructs, we could improve any levels of the callstack that match, leaving anything that doesn't match as-is.

This would mean that users of compilers that we have not added support for get the same sentry experience that we have now, whereas users on known compile

[2016-08-26 11:31] asbjornu commented on #147
@marcomorain That sounds like a good direction. If you have time to work on this, I would highly appreciate a pull request! 👍

[2016-09-01 02:04] opcon opened #150 "Feature Request: User Feedback"
Are there any plans to support submitting User Feedback [[1](https://blog.sentry.io/2016/04/21/introducing-user-feedback.html), [2](https://docs.sentry.io/hosted/learn/user-feedback/)] from the C# client? The current implementation for other clients shows a custom webpage, which wouldn't always be appropriate from C#.

I suggest two new methods:
- one that obtains the url for the user feedback web

[2016-09-01 03:33] samukce commented on #150
It's a Good suggestion.

[2016-09-01 17:25] aldav82 opened #151 "Support for .net 3.5"
Hello, somewhat, I can't get RavenSharp to work under a simple .net 3.5 project because all the packages I seem to find on GitHub target .net 4.0. How can I target .net 3.5 and still use RavenSharp?

[2016-09-02 11:19] h4ck3r8ug5 opened #152 ""Extra" argument in ravenClient.CaptureException - Format specification"
Hi there.

In our code, we invoke a call the Raven Client. I would like to know what is the format for the extra object parameter in the C# ravenClient.CaptureException() method?

I added a key-value pair list as the parameter and when I view the exception in GetSentry, it says "...Discarded invalid value for parameter 'extra' "
![image](https://cloud.githubusercontent.com/assets/2481409/18202323/

[2016-09-02 11:24] h4ck3r8ug5 commented on #152
My bad. I had to update to the latest version.
Apologies :)

[2016-09-02 11:24] #152 closed

[2016-09-03 11:42] marcomorain commented on #147
I've been looking into some call-stacks containing async calls today, and I wanted to document what I see.

A stack-frame in Sentry has the following form when the function has the async modifier:

[code]

The function would look like this if you removed the async modifier:

[code]

I'm thinking along the lines of:

If the module name ends with `\+<(\w*)>d__\d*` and the function name is `MoveNext`

[2016-09-03 11:44] marcomorain commented on #147
Here is an example screenshot of our callstacks:

<img width="915" alt="screen shot 2016-09-03 at 12 43 16" src="https://cloud.githubusercontent.com/assets/448001/18224614/050b7a7e-71d4-11e6-88b4-4d093df03682.png">

The bottom two frames are normal functions, and the others are async functions. I'm trying to make all levels of the callstack look like the bottom two.

[2016-09-03 13:42] asbjornu commented on #147
@marcomorain 👍

[2016-09-05 12:35] asbjornu commented on #150
@opcon Great idea. Since presenting a web page is only one of several possible ways to present a user feedback dialogue in C#, perhaps a good way to do it would be through a `Func<>` of some sort? I haven't looked at what the server-side expects here, but I assume it's just some sort of string, so as long as the implementation returns a string, it can present a dialogue in whatever means natural i

[2016-09-05 12:37] asbjornu commented on #151
@aldav82 The solution is set up to build .NET 4.0 and 4.5, so it shouldn't be too hard to add support for 3.5. If you're up for it, I'd happily accept a PR implementing it.

[2016-09-06 05:18] opcon commented on #150
Awesome. I have a proof-of-concept working, I'll clean it up and submit the pull request.

[2016-09-07 05:55] sabiland commented on #125
Anything new about .NET Core support?

[2016-09-08 14:12] aldav82 commented on #151
@asbjornu Ok, I would like to help because I am interested in giving support to 3.5. However, I am relatively new to Github, and I'm not quite sure what are the required steps to crear a Pull Request. What should I do?

[2016-09-08 21:14] junos opened #154 "issue with Newtonsoft.Json dependencies"
There are the steps to re-produce the issue we have:
1. Our project use .net 4.6.1
2. install sharpRaven 2.1.0 with NewtonSoft.Json 9.0.1
3. When call await ravenClient.CaptureAsync, it always throws say NewtonSoft.Json 6.0.0.0 can not be found.

Could you explain why this happened?

Thanks,
Jun

[2016-09-08 21:27] asbjornu commented on #154
How did you end up with version 9.0.1 of NewtonSoft.Json? Downgrade it to version 6 and it should work fine. If you need version 9 for other stuff in your project you have a dependency problem NuGet isn't equipped to handle.

[2016-09-08 21:29] samukce commented on #154
You can use the new versions newtonsoft if you put on app.config of the
project or create assemvlyResolverHandler.

Em 8 de set de 2016 6:27 PM, "Asbjørn Ulsberg" <notifications@github.com>
escreveu:

[2016-09-09 10:12] marcomorain commented on #147
I had a quick stab at this, adding the following to class `ExceptionFrame`

[code]

### Before

![original](https://cloud.githubusercontent.com/assets/448001/18383509/e2ad485a-767d-11e6-8479-6cc3b9cd21e3.png)

### After
![new](https://cloud.githubusercontent.com/assets/448001/18383504/dddcf352-767d-11e6-9e8b-bfe1279bbd4f.png)

[2016-09-09 10:15] marcomorain commented on #147
The code in question looks like this:

[code]

[2016-09-09 10:16] marcomorain commented on #147
The code in question looks like this:

[code]

[2016-09-09 10:49] asbjornu commented on #147
A huge improvement! :shipit:

[2016-09-09 10:55] asbjornu commented on #151
@aldav82, [this article should get you up and running](https://guides.github.com/activities/forking/), but if you have any questions, please don't hesitate to throw them my way! :smiley:

[2016-09-12 02:59] samukce commented on #154
@junos  It worked for you?

[2016-09-14 14:41] marcomorain commented on #147
I have opened a PR - https://github.com/getsentry/raven-csharp/pull/155

[2016-09-14 14:41] #147 closed

[2016-09-15 17:26] wakawaka54 commented on #125
Any update on what needs to be done? I'm looking through the codebase now.

[2016-09-15 17:54] asbjornu commented on #125
@wakawaka54 I have no idea, to be honest. I've not started using .NET Core in any projects yet, so I don't know what the requirements are.

[2016-09-16 23:12] dualznz opened #158 "ravenClient.release"
hi, love this sdk, but there is no documentation on how to use it other than parsing the dsn and capturing the exceptions.

what i would like to know is whats the .release string variable, ive called it and it does not do anything.

any help, i would love for the ravenClient to be able to post out releases.

etc from sentry docs

Release Tracking

[code]

https://docs.sentry.io/hosted/api/releases

[2016-09-17 05:22] dcramer commented on #158
@dualznz we document this a bit in various places of Sentry, but its not clear here. The C# client is a community supported SDK, but we're absolutely interested in improvements.

The release is *usually* the version of your app. Often this is something like the git sha value.

Setting this will open up a few various features around release tracking.

![screenshot 2016-09-16 22 21 40](https://cloud

[2016-09-20 09:02] timorzadir commented on #125
https://icanhasdot.net/result?github=getsentry~2Fraven-csharp

[2016-09-21 21:23] wakawaka54 commented on #125
Just FYI, I made a .NET Core port.

[.NET Core RavenSharp Port](https://github.com/wakawaka54/raven-csharp/tree/enchancement/netcore)

You can add it to your .Net Core `project.json` file as:
[code]

Then add the configuration to your `appsettings.json` file as:

[code]
You need to configure your `Startup.cs` as follows:

[code]

You can then inject the `IRavenClient` interface into where ever you

[2016-09-22 02:54] ricardoalcantara commented on #125
@wakawaka54 I had the same idea of porting and my code and it end up very much like yours, but I got very upset I tryng to make it compatible with net45, net451, netstandard15 and netstandard16, a lot of things I had comment like you did and I also had to rewrite the Requester, so I thought that it wouldn't be any far for been candidate to get merged. So I decided to create a 'Light' Version mysel

[2016-09-22 06:43] asbjornu commented on #125
@wakawaka54: Awesome work! We can merge your changes into a new branch for now and publish releases from it with a new major version number. Then as we get feedback and feel the .NET Core is stable and sturdy, we can move the `develop` branch over to it and branch off from the current to a `release/2.x` branch. Just submit a PR and I'll work out the rest.

[2016-09-22 07:21] sabiland commented on #125
@wakawaka54 great, it works without any problems! :)

[2016-09-22 11:49] ricardoalcantara commented on #125
@asbjornu Cool. Maybe I was wrong about what I thought.

[2016-09-22 17:51] ricardoalcantara commented on #125
@wakawaka54 I would like to help porting the code too, if you need. My fork already compiles to the old .NET (NET45, NET451, NET46), so after your PR I could also help with that multi-platform compatibility.

[2016-09-22 19:55] wakawaka54 commented on #125
@asbjornu Okay a new branch sounds good. I can help rewrite and implement some of the tests I had to comment out. Mostly the tests that use the `TestServer` stuff doesn't work at all because of all sorts of reasons. But DotNetCore has the new `Microsoft.AspNetCore.TestServer` stuff which should make that pretty easy to re-implement.

[2016-09-22 20:01] wakawaka54 commented on #125
@ricardoalcantara Okay sure. I like the idea of making a "light" version. However, Sentry.io has some requirements that they like their APIs to meet which is why you have all the Log Scrubbing stuff on there. It would be more of a challenge to get the .Net Core stuff to be backwards compatible with a lot of the older .Net releases, I am not sure if that's worth the extra effort.

[2016-09-22 20:05] ricardoalcantara commented on #125
@wakawaka54 I meant I literally forked the [Raven-CSharp](https://github.com/ricardoalcantara/raven-csharp/tree/netcore-migration) . I stopped trying to migrate because I had a lot of troubles with Nancy, and I had to comment few things with I didn't feel comfortable with. I also didn't migrate the configuration you have done.

[2016-09-23 08:00] hfjallemark opened #160 "New version?"
The last version on Nuget is from april (august if you count pre-release). When will you release a new version? Is there a reason this process is not automated?

[2016-09-23 08:32] asbjornu commented on #160
@hfjallemark The last *stable* release was april, yes. But [the latest pre-release](https://www.nuget.org/packages/SharpRaven/2.1.1-unstable0063) is from August 17th. I've wanted thorough testing on it before releasing it, since i contains so many new features. I want to merge in #155 and #156, ship another pre-release of that, give it a couple of weeks and then ship a new stable release.

To help

[2016-09-23 08:39] asbjornu commented on #125
I've created a [`release/3.0` branch](https://github.com/getsentry/raven-csharp/tree/release/3.0) that you can pull request against, @wakawaka54.

[2016-09-23 08:48] marcomorain commented on #160
Didn't realise you were waiting on me. I'll take another pass on
demangling today.

--
  Marc O'Morain
  marc@marcomorain.com

On Fri, 23 Sep 2016, at 09:32, Asbjørn Ulsberg wrote:

Links:

  1. https://github.com/hfjallemark
  2. https://www.nuget.org/packages/SharpRaven/2.1.1-unstable0063
  3. https://github.com/getsentry/raven-csharp/pull/155
  4. https://github.com/getsentry/raven-csharp/pull/

[2016-09-23 08:55] hfjallemark commented on #160
Cool, we'll start using/test the new pre-release since #153 is what we wanted addressed!

[2016-09-23 09:26] asbjornu commented on #160
@hfjallemark #153 is not released yet, but I'm shipping out a package just now containing everything done since August 17th, including #153. It will show up on NuGet shortly.

[2016-09-23 09:27] hfjallemark commented on #160
Awesome, thanks!

[2016-09-23 12:48] asbjornu commented on #160
@hfjallemark: [2.1.1-unstable0079](https://www.nuget.org/packages/SharpRaven.Nancy/2.1.1-unstable0079) is out. Please check it out and report back any issues! :smiley:

[2016-09-23 12:49] hfjallemark commented on #160
Will do, thanks again!

[2016-09-23 16:17] aldav82 commented on #160
I just uploaded the changes requested for #156

[2016-09-26 09:01] #160 closed

[2016-09-26 13:05] kdazzle opened #162 "Support for Universal App Platform"
Tried to install SharpRaven for my solution through the Visual Studio extension and got this error:

[code]

Not sure if that's something that's on the roadmap.

[2016-09-26 14:20] asbjornu commented on #162
@kdazzle: Nothing on the roadmap, but if you have any idea on what the problem might be and how to fix it, we're at least a step closer. :smile:

[2016-09-26 14:38] kdazzle commented on #162
Heh, I kind of figured it was an intentional choice for some reason.

My knowledge of C# is pretty weak, but I'll take a quick look and see if anything is obvious. In the meantime, I ended up using this: https://www.nuget.org/packages/DeveloperInTheFlow.Sentry.UWP

[2016-09-26 15:01] asbjornu commented on #162
@kdazzle Thanks for pointing out the existence of that library. I hope we can combine forces somehow!

[2016-09-26 20:29] jamiecounsell commented on #125
Worth noting: https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

[2016-09-27 03:19] wakawaka54 commented on #125
Yeah that's something to look into. The biggest difficulty that I see with RavenSharp and using .NET Standard is `HttpContext`. I haven't used the earlier versions of `HttpContext` but diving into RavenSharp, I saw a lot of stuff that was different between that and .NET Core. If someone could look at the `HttpContext` in .NET Standard and see if it'll work for both ASP.NET and .NET Core, then adop

[2016-09-28 11:09] sabiland commented on #125
@wakawaka54

Using this configuration:

[code]

I can capture only one sentry event per request (to my aspnet core site). If I capture 3 events one after another, only first will be sent to sentry. Am I doing something wrong or is the configuration of raven services wrong?

[2016-09-29 09:40] hfjallemark commented on #85
Any update on this? Would be great to see the source code within Sentry's stack trace!

[2016-09-29 11:39] marcomorain commented on #85
Related tools from msft: https://github.com/Microsoft/microsoft-pdb

[2016-10-01 19:43] consigliory commented on #125
+1

[2016-10-05 21:14] wakawaka54 commented on #125
@sabiland Yeah my bad, I'm a Nuget Noob and didn't think about it too much while I was uploading the package 😞

[2016-10-06 14:31] samukce commented on #154
[code]

[2016-10-10 07:43] sabiland commented on #125
@wakawaka54 So it still has to be "RavenSharp.Core": "1.0.0-beta-1" right?

[2016-10-10 21:41] AlexanderNZ commented on #125
Hi all, question for anyone who has got this working,

I've followed @wakawaka54 's instructions, added the snippets in the right place.
When I run `dotnet build` I get

`error CS0246: The type or namespace name 'RavenSharp' could not be found (are you missing a using directive or an assembly reference?)`

I've added `using RavenSharp.Core;` to the to my imports - should I have added something els

[2016-10-10 22:25] asbjornu commented on #125
@AlexanderNZ: I haven't looked at the code and haven't even compiled a .NET Core project yet, but as the name of the project is `SharpRaven` and not `RavenSharp`, might that be what the issue here is?

[2016-10-10 22:30] AlexanderNZ commented on #125
I thought that too @asbjornu - I tried `SharpRaven.Core` initially, but that spawns more errors:
https://puu.sh/rECIC/64a765acc3.png

In the end I pulled `RavenSharp` as that was the dependency name - "RavenSharp.Core": `1.0.0-beta-1`

I'm sure I'm just importing wrong, but I can't find any reference to how to import and use `RavenSharp.Core`. The fact that I'm not a C# guy doesn't help haha

[2016-10-10 22:51] marcomorain commented on #160
Hi @asbjornu - do you have time to publish a new unstable release? I'd love to test out the callstack-demangling. Thanks!

[2016-10-10 23:00] marcomorain commented on #147
I found a table describing the implementation of the mangling: http://stackoverflow.com/questions/2508828/where-to-learn-about-vs-debugger-magic-names

[2016-10-11 07:41] asbjornu commented on #160
@marcomorain: I would if I could, but [CodeBetter's TeamCity server](http://teamcity.codebetter.com/) has been down for over a week now. I've been wanting to move the deploy mechanism over to [AppVeyor](https://www.appveyor.com/), but I haven't found time to do it yet.

[2016-10-11 10:33] asbjornu commented on #147
@marcomorain: Excellent! Is there anything we should do on our side to align us closer with Eric Lippert's excellent description, or are we fine as is, you think?

[2016-10-11 11:32] marcomorain commented on #147
I think we are fine as we are, but having this link here will hlpe us find in future if we want to handle more cases.

I went looking through our (Flipdish) exceptions in Sentry, and I could only find mangled function names that match what we covered in #164 in the stack-frames from out app. I could find uses of the other constructs listed in functions in `System.Web.Mvc.Async.`, but not in our co

[2016-10-11 11:40] marcomorain commented on #147
We could fix up some items like this:

`System.Web.Mvc.Async.AsyncControllerActionInvoker+<>c__DisplayClass21 in <BeginInvokeAction>b__1e`

what's happening here is that we are in the class `System.Web.Mvc.Async.AsyncControllerActionInvoker`, function `BeginInvokeAction`, calling an anonymous function.

I don't know how best to represent this in Sentry. Maybe include the function in the module nam

[2016-10-11 11:49] asbjornu commented on #147
@marcomorain: That example would have been nice to demangle as well, yes! But having `BeginInvokeAction` in the `Module` feels wrong. How about writing `Function` up as any of these?

* `BeingInvokeAction { ƛ }`
* `BeginInvokeAction { () ⇒ _ }`
* `BeginInvokeAction { () => _ }`
* `BeginInvokeAction { <lambda> }`
* `BeginInvokeAction { (lambda) }`
* `BeginInvokeAction { x ⇒ x }`
* `BeginInvokeActio

[2016-10-11 16:51] marcomorain commented on #160
That's cool, I didn't realise your release system was down.

[2016-10-26 06:54] Kordonme commented on #158
We added the new release hook to our deployment cycle and they show upin Releases tab under a project. However, no info about when the error was seen/last seen is shown. Are we required to send the release along with exception sent? Shouldn't Sentry be able to figure it out based on current release?

[2016-10-26 16:10] dcramer commented on #158
Current isn't really a safe concept so we require the release metadata to be passed via the SDK. The hooks are primarily for augmenting and adding additional details about releases,which aren't heavily used yet.

[2016-10-27 10:44] asbjornu commented on #160
[Here's the explanation of why it was down](https://blog.jetbrains.com/teamcity/2016/10/hosted-teamcity-for-open-source-a-new-home/).

[2016-10-27 13:36] marcomorain commented on #147
@asbjornu I like `BeingInvokeAction { ƛ }` and `BeginInvokeAction { <lambda> }`.

The other forms ( `x => x`) would be slightly missleading depending on the arity of the lambda. Fixing this would require us to read the arity of the anonymous block from the reflection metadata, so that we could show a function of arity 2 as `(x, y) => z`.

[2016-10-31 00:01] opcon commented on #150
Just an update on this, I've been super busy with Uni stuff recently but I'll be able to get back to this next week

[2016-10-31 15:14] asbjornu commented on #160
@marcomorain: I published [version 2.1.1-unstable0111](http://www.nuget.org/packages/SharpRaven/2.1.1-unstable0111) just now. Please check it out and give feedback.

[2016-10-31 15:56] marcomorain commented on #160
👍  will do

[2016-11-01 09:58] flower189 opened #167 "Breadcrumb Support"
Is it on the road map to add support for the breadcrumbs feature in sentry?
https://docs.sentry.io/learn/breadcrumbs/

[2016-11-01 10:11] samukce commented on #167
it was done. :) You can install the unstable version to use.

Em 1 de nov de 2016 6:58 AM, "James" <notifications@github.com> escreveu:

[2016-11-01 10:18] flower189 commented on #167
Ah! Thanks, I hadn't noticed it in the repository.
Do you have any idea when this might make it into stable?

[2016-11-01 10:55] asbjornu commented on #167
@flower189: Please test [the latest unstable release](http://www.nuget.org/packages/SharpRaven/2.1.1-unstable0111) and report your experience with it back here. If you (and everyone else) are content with how it works, I guess we can publish a stable version of that some time this week.

[2016-11-01 11:04] marcomorain commented on #160
Here is a before/after screen shot of the new demangling in production:

![before](https://cloud.githubusercontent.com/assets/448001/19887855/e84f68e6-a022-11e6-9f22-0c167e255e89.png)

![after](https://cloud.githubusercontent.com/assets/448001/19887857/e9a6acfe-a022-11e6-86b1-57af9826d0ac.png)

🎉

[2016-11-01 11:28] asbjornu commented on #160
@marcomorain: Looking good!

[2016-11-10 05:12] ZubyH commented on #167
If I create a new breadcrumb and use AddTrail() immediately after after breadcrumb, then the logging looks good in Sentry when it's thrown.

However the AddTrail method implies that I can trail breadcrumbs in bulk? But the class definition only allows me to add one breadcrumb at a time to the trail.

[2016-11-10 09:07] asbjornu commented on #167
@samukce: As the main developer of this feature (#131), what's your take on what @ZubyH writes? I don't have time to look at the code at the moment.

[2016-11-10 09:14] ZubyH commented on #167
In the same sense, it would be good to have one breadcrumb class object, where the Message property is a List<string>. That way i can have one breadcrumb object per controller method (in MVC terms), and continually add messages to the Message List<string>. As soon as my method encounters an error, I fire the AddTrail method for this breadcrumb, and the List<string> is passed to Sentry as a list of

[2016-11-10 09:15] ZubyH commented on #167
List of strings**

[2016-11-10 09:33] asbjornu commented on #167
@ZubyH: Since we're only in pre-release with this functionality, I think we have room to improve it. If you want to submit a pull request showing how you would like it to work, I think it would be easier to discuss it.

[2016-11-10 11:44] ZubyH commented on #167
Okay sure, that sounds like a good idea

Regards,
Zubair

On 10 November 2016 at 09:33:47, Asbjørn Ulsberg (notifications@github.com)
wrote:

[2016-11-10 12:54] samukce commented on #167
Hi all,

I think that could you register the RavenClient in your container of
dependencies injection and each class that you need register something you
can use revenClient.AddTrail(..).
Or, if you use some frameworks log(log4net, nlog,...) you could create a
provider to concentrate all in one point.
If we create one addRangeTrail, our Framework Will Lost the management
about the counter of the it

[2016-11-11 14:51] kedare commented on #23
Any news about this ? It looks like there are no easy way to integrate ASP.NET with Sentry for now ?
Thanks

[2016-11-11 15:21] bartvanderwal commented on #23
Ah I forgot about it. It's working fine for me.
I'll look into submitting something again.

Sentry doesn't seem to advocate it on their 'prices' page - it shows no free tier - but if you run theough their free trial then errors keep getting logged and they still send you email notofications.

It's pretty limited and I gues you wouldn't risk production grade stuff with this. But it works fine for m

[2016-11-15 08:03] kedare commented on #23
In our case, we have our own on premise Sentry setup (As it's very easy to setup).
I never tried it with DotNet already it's working very good with Python/Django apps, I'm hoping it would be as good with ASP.NET :)

[2016-11-15 11:15] asbjornu commented on #23
@kedare: While there certainly could be something similar to the [SharpRaven.Nancy package](https://www.nuget.org/packages/SharpRaven.Nancy) for ASP.NET MVC, it would only be a convenience wrapper around the library and not something you couldn't build yourself. It should be fairly easy to add SharpRaven to any MVC project; explicit support in the form of a NuGet package shouldn't be necessary.

[2016-12-04 15:08] raRaRa commented on #125
Any updates on this? I would really like to use Sentry for my .NET core web application.

[2016-12-05 00:45] asbjornu commented on #125
@raRaRa: We have #161 and #163 that tries to tackle the problem, but none of them are completed. I don't know what @wakawaka54 and @reflectiondm can say about the current status?

[2016-12-14 20:30] Dids commented on #126
Any news on the PCL side of things?

[2016-12-14 22:02] asbjornu commented on #126
@Dids: We warmly welcome help with getting #145 to pass the test suite.

[2016-12-14 22:02] #126 closed

[2016-12-15 14:18] asbjornu commented on #167
@ZubyH: How are things working out? Can this issue be closed? If so, I feel that we have had a long enough period with testing of the pre-released package that we can declare it stable. Objections?

[2016-12-15 16:10] ZubyH commented on #167
Hi,

Sorry I've been caught up porting my apps to AngularJS so haven't had much
time to look into this.

Do you have any examples of how you actually use breadcrumbs? Maybe I'll
find what I'm looking for by using the crumbs a different way?

Would be good to see another way, then I'll know whether I have a real
issue or not

Regards,
Zubair

On 15 December 2016 at 14:18:11, Asbjørn Ulsberg (notifi

[2016-12-16 08:40] asbjornu commented on #167
@samukce: Could you please provide an example of how the breadcrumbs work, preferably as a pull request to the documentation? 😃

[2016-12-19 02:34] samukce commented on #167
Sure. I gonna do this week.

On Dec 16, 2016 5:40 AM, "Asbjørn Ulsberg" <notifications@github.com> wrote:

[2016-12-19 23:54] samukce commented on #167
Please, @asbjornu,  Look it and let me know if I can improve something. PR: https://github.com/getsentry/raven-csharp/pull/169

[2016-12-20 09:29] asbjornu commented on #167
@samukce: Thanks! I'll close this, then.

[2016-12-20 09:29] #167 closed

[2016-12-20 09:36] asbjornu commented on #151
Implemented in d4477018f02c8695eed507f0d9758c6ef0ea8d4f.

[2016-12-20 09:36] #151 closed

[2016-12-20 09:39] asbjornu commented on #114
@Meilu: Does this still work as intended? If you could provide a unit test for this, that would be highly appreciated!

[2016-12-28 15:37] twilly86 opened #170 "Post data is always null"
See screen shot, the post data is null.  I'm using  MVC 5 and .net 4.6.1.

I'm logging exceptions in a custom error attribute.

![2016-12-28_8-35-37](https://cloud.githubusercontent.com/assets/3496838/21525189/d446a2c8-ccd8-11e6-8f67-b9f06d775aef.png)

Any ideas?  Let me know if I can provide any other info to help troubleshooting.

[2016-12-30 20:11] asbjornu commented on #170
@twilly86: Which version of SharpRaven are you using? Can you try upgrading to [version 2.1.1-unstable0113](https://www.nuget.org/packages/SharpRaven/2.1.1-unstable0113) and see if it behaves better?

[2017-01-13 01:48] rolandh opened #171 "User Feedback"
How do I submit "user feedback" to sentry using this API?

Their documentation gives PHP examples however it isn't clear how they differentiate a bug vs user feedback.

[2017-01-13 03:48] rolandh commented on #113
Did anyone attempt a pull request? I might do so if no one has.

[2017-01-13 10:32] asbjornu commented on #171
Duplicate of #150.

[2017-01-13 10:32] #171 closed

[2017-01-20 10:10] Kalnor commented on #85
Any news on this?

[2017-01-24 02:01] Hyldahl commented on #154
Hooking into the AssemblyResolve Event is one way to go.

You would normally solve versioning conflicts by configuring assembly binding redirects in the app.config file like so:

[code]

(The nuget package manager will automatically create the configuration changes when installing a nuget package)

[2017-01-24 08:56] asbjornu commented on #154
Since two solutions have been provided and no response has been given from @junos, I'm closing this. Reopen if this is still a problem.

[2017-01-24 08:56] #154 closed

[2017-01-24 10:33] asbjornu commented on #85
@getsentry/team, @dcramer: Ping?

[2017-01-24 10:36] mitsuhiko commented on #85
We did not forget. Sorry for the lack of progress on that front. We're currently completely revamping our symbol handling for the only platform we provide this at the moment (iOS) and we're planning on taking those lessons to then hopefully make better progress on other platforms. Ideally we can reuse some of the infrastructure we are building there to also cover C# and other platforms.

[2017-01-25 16:17] barbosab opened #173 "Custom Fingerprint with Capture(SentryEvent) Method"
I am trying to figure out how to set a custom fingerprint for a given warning/exception, and it appear in the new method structure: `public string Capture(SentryEvent @event)`, but it appears that there is no way to do so, even though the older, obsolete methods had this capacity.

Our use case is for web exceptions.  Basically, what is happening is when we have a web call to a 3rd party fail, it

[2017-01-25 18:21] asbjornu commented on #173
Any reason why you can't use the [`SentryEvent.Fingerprint` property](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/Data/SentryEvent.cs#L96)?

[2017-01-25 18:59] barbosab commented on #173
Ahh, I knew I had to be missing something!  Thank you.

[2017-01-25 18:59] #173 closed

[2017-01-26 17:26] michaelpinnell commented on #160
Just wanted to bump this (forgive me if posting in a closed thread is a bit of a faux pas) because I really like a lot of the features in the unstable release, but don't feel comfortable updating our production code to make use of it.  Is there a timeline for the next full release, or a laundry list of tasks to be completed prior to it?

[2017-01-26 17:30] aldav82 commented on #160
I have the same question!

[2017-01-26 17:39] asbjornu commented on #160
@michaelpinnell, @aldav82: Sorry, I've just been swamped the last few months so I haven't had free time to dedicate to this. Since we've had the unstable version available for so long and there seems to be no outstanding issues with it, I think we can just merge and do another stable release. I hope to find time for this over the next few days. Thanks for your patience!

[2017-01-31 13:11] GeertvanHorrik opened #174 "Support dsn without private keys"
According to the docs, one should use the public-only key dsn when using clients. However this causes the RavenClient to throw an exception since it requires the private key.

Happy to do a PR, but want to discuss this first.

[2017-01-31 15:58] asbjornu commented on #174
I've never used a public key myself, so I'm not sure what its intended use is and what implications it has for SharpRaven. I'm just a maintainer of this library and not affiliated with @getsentry, so some elaboration would be appreciated. 😃

[2017-01-31 17:35] dcramer commented on #174
The public key is not supported outside of browser JavaScript. There's no security concerns with the secret key and the only difference is we have some additional abuse protection for JavaScript clients. 

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-01 08:54] GeertvanHorrik commented on #174
Thanks for the additional explanation, then we can safely "expose" the private key. It might be good to add this to the docs, since the terms "semi-secret" and "use public key only for clients" was misleading me (but it might be just me, not sure).

[2017-02-01 08:54] #174 closed

[2017-02-01 10:04] BenWoodford commented on #174
Definitely with @GeertvanHorrik on this one, Raven not supporting public DSN is weird, as it's VERY easy for someone to extract the DSN from a C# application. Literally just a matter of popping only ILSpy and decompiling the application/DLL.

[2017-02-01 14:33] 0xdeafcafe commented on #174
I think the confusion comes from the fact sentry is primarily used for monitoring web applications, so the issue of being able decompile the application and extract the DSN doesn't surface.

[2017-02-01 17:00] dcramer commented on #174
The worst they can do is send fake data and there's simply no way we can prevent it. We could expand docs, but each SDK asks for a specific key and is generally inflexible. At the end of the day if there's an abuse problem you can always block an IP or suspend the key.

[2017-02-03 01:13] LordMike commented on #125
Is there a plan to make implementations of `ILogger` and friends from `Microsoft.Extensions.Logging`?

[2017-02-03 14:08] LordMike opened #175 "Provide an implementation of ILogger from Microsoft.Extensions.Logging"
Building on my comment on #125, support for .NET Core, an implementation that fits in `Microsoft.Extensions.Logging` should be provided. I have created my own project for it, copied the same buildup as from the Debug logger, and called it `Microsoft.Extensions.Logging.Raven`, for which I've attached the relevant source code.

Feel free to use the attached as a base to build an "official" log provi

[2017-02-03 19:49] michaelpinnell commented on #160
No worries, I'm just happy that you were able to respond.  Here's to my (selfish) hope that things calm down for you a bit ^.^

[2017-02-06 19:56] asbjornu commented on #160
[Version 2.2 is now finally out](https://www.nuget.org/packages/SharpRaven/2.2.0). Thanks for the patience!

[2017-02-06 20:15] asbjornu commented on #170
I think this was fixed in #121. Reopen if this is still a problem.

[2017-02-06 20:15] #170 closed

[2017-02-06 20:18] asbjornu commented on #114
Closing. Please reopen if this is still an issue.

[2017-02-06 20:18] #114 closed

[2017-02-06 20:32] michaelpinnell commented on #160
Thanks for the release!

[2017-02-07 15:08] twilly86 commented on #170
yes, that fixed it thanks

[2017-02-14 11:21] Dids commented on #150
@opcon Still waiting. :)

[2017-03-08 16:39] medokin commented on #125
@wakawaka54 @reflectiondm Friendly bump.

Does anyone work on this, or should it be taken over?
With VS 2017 released, the need has raised.

[2017-03-10 12:54] raRaRa commented on #125
Seems like it should be taken over.

[2017-03-10 13:03] reflectiondm commented on #125
@medokin @raRaRa Sorry guys, I have totally no time to dig into it. I also think my PR can be dumped completely and a project should probably aim dotnet standard, thus a different approach should be taken.

[2017-03-13 11:23] asbjornu commented on #125
Anyone who wants to move forward in **any** direction related to this is more than welcome to submit a PR. 😄

[2017-03-13 14:01] medokin commented on #125
#168 looks promising.
@phenixdotnet friendly ping.

[2017-03-16 00:09] rolandh commented on #85
This probably isn't what people want to hear but what I've personally done this the following:

Obfuscated source code with confuserex and generated reversible naming map file.

Uploading naming map to your api server. Send all sentry reports via your API and de-obfuscate the callstack/etc.

Its a bit ugly but if you want full debugging info in your app without someone being able to open it up in

[2017-03-22 16:00] nerfpops opened #176 "Sign assembly"
There's tools to automatically do this, but it makes it hard to share code between projects. A signed version would be great!

[2017-03-22 16:21] michaelpinnell opened #177 "Long Term Support for Raven-Csharp"
I've noticed a dearth of development on this repo over the last five months, and while I'm aware that commenting on this without seeing the clear need to start making my own pull requests is rather foolish, I just wanted to see if I could start a conversation with those currently maintaining this project in order to see whether this was something they have not had time to work on currently, or if

[2017-03-22 20:24] asbjornu commented on #177
Hi, @michaelpinnell. I am the current community maintainer of this repository, with sporadic help from @getsentry. As Sentry doesn't have hired C# developers and I as such don't work for Sentry, this library is supported on a "best effort" basis by me and them. I do it because I love C#, GitHub, open source and think Sentry delivers a brilliant service that the company I work in use as an essentia

[2017-03-22 20:43] asbjornu commented on #176
If you have a solution that can automate this the entire way from compile time through the build process to publishing on NuGet and that in no way interferes with the non-signed package, I would happily accept a pull request for this. 😃

[2017-03-24 05:01] wakawaka54 commented on #125
Sorry guys. I just haven't had time to make a formal release. I got this working and it satisfied most of my needs. However, the approach I took is not the greatest. I don't think we can easily merge back into this code base because a lot of the assumptions about HttpContext and other conventions just aren't so anymore. It's crazy how time flies!

[2017-03-24 05:10] wakawaka54 commented on #125
On second thought. I could start taking a look at this sooner. Who wants to pair up with me to finish this once and for all 👍

[2017-03-24 10:25] medokin commented on #125
@wakawaka54 Do you have a todo list what needs to be done?

[2017-03-24 10:32] ricardoalcantara commented on #125
@wakawaka54 I do.
As @medokin 's asked: what needs to be done?
Also I got lost over the time, what is the branch are you working?

[2017-03-24 13:42] phenixdotnet commented on #125
Hi all.
FYI I just update my fork to VS 2017. .NET 3.5 is a problem as it doesn't build with dotnet command but I can work on build script to use msbuild directly.

On the other side if this fork doesn't meet the requirement for a .NET core version I can help a new fresh port. As @medokin and @ricardoalcantara we have to discuss about what should be done and how we can help you.

Regards

[2017-03-24 16:08] michaelpinnell commented on #177
Time to put on my big boy pants and start being a contributing member of my community!

[2017-03-25 05:28] wakawaka54 commented on #125
Okay well I've forked over the library and am planning on basically having a separate .NET Core port. At least until a smart chap can come up with a good way to merge the codebases together. I remember the tests were a huge problem because a non .NET Standard Http class was used I believe. I'm going through the codebase now again.

[2017-03-25 05:30] wakawaka54 commented on #125
@medokin @ricardoalcantara @phenixdotnet I don't have a todo list as of right now but I'm looking through the codebase to see where we'll have issues or where we have to change stuff. I really think it'll be easier to just make a solid seperate .NET Core build and then we can see if we want to merge back into the original codebase.

[2017-03-25 11:14] asbjornu commented on #177
Excellent! :)

[2017-03-25 11:14] #177 closed

[2017-03-27 14:49] wakawaka54 commented on #125
I do have a question though. The .NET Core HttpContext as well as the Hosting Environment information are available in classes that are outside the .NET Standard framework so we'd have to pick those dependencies up with the .NET Core release. Is this a no-no?

[2017-03-27 17:42] LordMike commented on #125
You mean they're not available, right?

For cases like this, it's best to create two+ projects:

* **RavenSharp.Core** this library exposes clients etc. to communicate with Sentry.
* **RavenSharp.Core.Asp** this library exposes Extension methods or implementations that substitute what the core project provides. This library can depend on ASP.NET stuff, as well as the new DependencyInjection framew

[2017-03-27 17:51] LordMike commented on #125
Acutally. Building on that, the RavenSharp.Core could be the "simple" project which has a client that sends in reports, but doesn't do anything fancy to try to get HTTP details out.

Then, without substituting any implementations, RavenSharp.Core.Asp will provide an ILoggerFactory implementation. It could look like this:

    public class RavenLoggerProvider : ILoggerProvider, IDisposable
    {

[2017-03-27 19:02] asbjornu commented on #125
@LordMike: I've been thinking about that sort of refactoring for a long time, so a pull request with only that in it would be merged without blinking. Then it would leave the project in a much better shape for a .NET Core port, won't you agree?

[2017-03-27 19:08] LordMike commented on #125
I kinda cheated and used the same code I used for #175.
This client library isn't all too big is it?

Perhaps take it in steps:
* Convert the project to VS2017 csproj format
* Refactor the project to separate HTTP-specifics from core workload
* Gradually target multiple frameworks (in addition to the current set)
  * Perhaps introduce new core-specific projects, to not complicate matters... or jus

[2017-03-27 19:14] LordMike commented on #125
Sidenote: Another thing that could be given by DI, is a form of enrichment of the sentry report..

Imagine if we did this in the DI framework:

    services.Add<IEnricher, MyHttpEnricher>();
    services.Add<IEnricher, MyWindowsPrincipalEnricher>();
    services.Add<IEnricher, MyRandomEnricher>();

On a report, Raven will then fetch all instances of IEnricher from the DI framework, and run the `En

[2017-03-27 19:18] asbjornu commented on #125
What I would love to see, is a pull-request ripping `RavenSharp.Core` apart from everything related to `System.Web`, without upgrading to VS2017 or anything else. That would be a very low-hanging fruit to merge and would improve all integrations; `System.Web`, `Nancy` and a .NET Core port.

[2017-03-28 06:50] asbjornu commented on #176
As explained in jbogard/MediatR#86, you can use [Strong Namer](https://github.com/dsplaisted/strongnamer) to add a strong name to any assembly at build time.

[2017-03-28 06:50] #176 closed

[2017-03-29 04:27] wakawaka54 commented on #125
@asbjornu Thats true that would improve future integrations so you would want to target .NET Standard in the future with SharpRaven.Core right?  To do that you'll need to get rid of alot more than just System.Web stuff. Would we be able to keep all the legacy stuff like System.Configuration for example which isn't part of .NET Standard in the SharpRaven.Core project and somehow merge the older CSP

[2017-03-29 04:29] wakawaka54 commented on #125
@asbjornu This is why I am having trouble making this change easy to merge into the existing codebase because I don't know how you are going to continue to support all the older frameworks. Its easier to just delete everything and start over and just focus on .NET Core. Of course, this is a bad approach because it leaves the libraries disjointed but in the interest of getting the library out for p

[2017-03-29 07:45] asbjornu commented on #125
@wakawaka54:

I assume so, yes. I haven't invested a single second to attempt understanding the new nomenclature of ".NET Core", but whatever is the smallest sensible build target would be desirable.

Ok.

`System.Configuration` doesn't really need to be referenced. People can provide values from configuration files themselves. So yes, this will be a breaking change that would yield a new major ve

[2017-03-29 08:25] phenixdotnet commented on #125
Hi all.

The @asbjornu's proposal looks good, just some points to keep in mind:

- .NET 3.5, WP8 / Silverlight support are deprecated by MS,. .NET standard doesn't support it
- The .Core part could be build only for .NET Standard, it will be compatible with all .NET version

Regarding the @LordMike's ideas seem good also but as a user I don't want to have to inject all those dependencies, I want t

[2017-03-29 12:13] asbjornu commented on #125
@phenixdotnet:

I've (thankfully) never touched WP8 or Silverlight in my life, but .NET 3.5 has proven useful to a number of consumers of this library, so that's something I hope we can keep around.

Which `.Core` part are you thinking of? I'm thinking that `SharpRaven.Core` should be built for all desired targets (.NET Core / Standard, .NET Framework 3.5, 4.0, 4.5 and 4.6) and included in the pac

[2017-03-29 12:22] phenixdotnet commented on #125
@asbjornu

I was talking about SharpRaven.Core package.
Again `netstandard` target is compatible with .NET framework (except 3.5), it is build for this purpose. You can build the SharpRaven.Core package for `netstandard`and use it in .NET Framework 4.5 project for example.

[2017-03-29 13:30] ricardoalcantara commented on #125
@asbjornu

Another option might be you leaving the old package SharpRaven 2.2.x targeting just NET 3.5, Rename it to something like Legacy and just provide fixes if needed. Then move to netstandard and target it from 4.5 ahead.

So you will wind up with two projects, but the legacy will exist just to fill that gap/problem of whom doesn't or can't migrate to at least .NET 4.5.

Deprecated

|Assembl

[2017-03-29 13:38] phenixdotnet commented on #125
@ricardoalcantara you can still target multiple framework with the new csproj format in VS 2017.
you can have a sample in my PR:  https://github.com/getsentry/raven-csharp/pull/168/files#diff-aa1376b7cbbc10abfd987d0b9c66d45d
In short:
` <TargetFrameworks>netstandard1.6;net46;net45;net40;net35</TargetFrameworks>`

[2017-03-29 13:49] ricardoalcantara commented on #125
@phenixdotnet it's nice, based on that I searched for [documentation](https://docs.microsoft.com/pt-br/dotnet/articles/core/tools/project-json-to-csproj).

So I believe that we can work with  [Preprocessor Directives](https://msdn.microsoft.com/en-us/library/ed8yd1ha.aspx) and target NET 3.5 as well. Do you think it will be a huge effort?

[2017-03-29 13:51] ricardoalcantara commented on #125
@phenixdotnet I have just found your pull request, you have done all that already.

[2017-03-29 14:03] phenixdotnet commented on #125
yep :)

But what I understand from @asbjornu is he want a new clean lib dedicated to .NET Core and recent .NET Framework.
Using pre-processor directives can be a solution but it include complexity for a deprecated framework. Guys at NLog do this and IMO the code is now very complex.
If targeting .NET 3.5 must be a first class citizen, using pre-processor directives is ok, otherwise I suggest to sp

[2017-03-29 14:12] ricardoalcantara commented on #125
@phenixdotnet I like the idea of splitting the lib too, like I suggest on those tables I made. I also tried to port this code and it became really complex code in my POV.

[2017-03-30 03:11] wakawaka54 commented on #125
It seems like we want to maintain the Core library with Net35 support. I can understand this and basically don't mind putting 75% of the code in the Core library under a Net35 directive so that we can pretty much have a clean slate for .Net Core implementations and future implementations. @phenixdotnet @ricardoalcantara  it sounds like they do want to maintain Net35 support. Either way I don't rea

[2017-03-30 03:16] wakawaka54 commented on #125
Haha especially considering that anyone trying to use this library for .NET Core has to stumble onto this post to know how to set it up.

[2017-03-30 03:49] ricardoalcantara commented on #125
@wakawaka54 It's not really important for me to maintain .NET 3.5 specifically, but @asbjornu said it is important, I believe he as a point. I currently use my tine little version of this lib, but I rather have the official one. I am just waiting someone to merge the first branch so I can make a fork and help with something.

[2017-03-30 14:59] wakawaka54 commented on #125
@ricardoalcantara yeah I not sure if I can make a branch on this repo but I branched and added a "major/netstandard" branch to my forked repo. [major/netstandard] (https://github.com/wakawaka54/raven-csharp/tree/major/netstandard/src/app) I will try to work out of this branch for now. I can gain whomever permissions to push directly into the branch I think.

[2017-03-30 15:11] ricardoalcantara commented on #125
@phenixdotnet has done the same thing, and he has already a [pull request](https://github.com/getsentry/raven-csharp/pull/168) running. So to avoid rework and other conflicts I prefer to wait until someone has passed and merged with the official repo.

[2017-04-03 13:32] asbjornu commented on #125
@ricardoalcantara:

I would like to avoid that, if possible. I haven't investigate it deeply, but I don't really understand what a `SharpRaven.Core` package we create might need that won't be simultaneously compatible with .NET Core **and** .NET 3.5. The language is C# and the simple types in `System.*` have the same signature, no? Besides that, I don't know anything such a core library should nee

[2017-04-20 09:15] skyline75489 opened #179 "Testing HasHttpContext"
The code [here](https://github.com/getsentry/raven-csharp/blob/d4477018f02c8695eed507f0d9758c6ef0ea8d4f/src/app/SharpRaven/Data/SentryRequestFactory.cs#L309) checks if there are any assembly whose name starts with "System.Web". But why not "System.Net"? We are actually using `System.Net` instead of `System.Web` for our http request.

[2017-04-21 01:03] skyline75489 opened #180 "Catch exception during the creation of JsonPacket"
The code [here](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L224) may throw exceptions. I think we should catch it and leave it to `HandleException`.

[2017-04-21 19:58] asbjornu commented on #179
@skyline75489: When you write:

Who are "we" and what are you talking about specifically? SharpRaven uses [`HttpWebRequest`](https://msdn.microsoft.com/en-us/library/system.net.httpwebrequest.aspx) for the outbound HTTP requests going to the Sentry servers (as can be seen [here](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/Data/Requester.cs#L73)). I'm working on a bran

[2017-04-21 20:00] asbjornu commented on #180
Do you have examples of what type of exceptions might be thrown? I don't mind a `try/catch` in there, I'm just curious.

[2017-04-22 00:24] skyline75489 commented on #180
I'm new to this project so I was trying to build a custom `Extra` using:

[code]
This gives me exception when constructing JsonPacket. After a little research I realize I should be using:

[code]

Still, I'd expect `ErrorOnCapture` can handle this kind of situation.

[2017-04-22 18:33] asbjornu commented on #179
HTTP contextual information doesn't exist and thus won't be gathered in a WPF context. :)

[2017-04-22 18:34] asbjornu commented on #180
Indeed. Would you fancy creating a pull request with a test provoking this error and fixing it as well?

[2017-04-23 02:13] skyline75489 commented on #180
Sure. I'll try to make to PR later.

[2017-04-24 16:48] samukce commented on #150
@opcon the next week arrived? =P

[2017-04-25 03:55] opcon commented on #150
Next week is here! 😆

I submitted a pull-request, #182

[2017-04-25 13:53] octaviobffernandes opened #183 "Fingerprint property is internal on SentryEvent and there is no way to set it"
When I wanted to add a custom fingerprint to an event (as a last resort) to force aggregation, I used to do ravenClient.CaptureMessage() or ravenClient.CaptureException() passing the fingerprint obj as an argument.

Now these two methods are marked as obsolete and it is recommended to use only ravenClient.Capture(event) passing the event itself as argument. And the FingerPrint property is internal

[2017-04-26 00:31] ricardoalcantara commented on #125
@asbjornu I took sometime just to analyse, not to actually migrate, I left it to the next step.
I think for a core version of the lib we will have to change a few things like:
- Remove the reference to System.Configuration and the Configuration.cs file; (Not compatible with netcore)
- Remove the reference to System.Security.Principal and the Data/SentryUser.cs and the  Data/SentryUserFactory.cs  -

[2017-04-26 09:08] asbjornu commented on #125
@ricardoalcantara: Excellent analysis.

👍

👍

Indeed.

Already begun in the [`feature/httpclient` branch](https://github.com/getsentry/raven-csharp/tree/feature/httpclient). `HttpClient` does not exist on .NET 3.5, so I'm trying to `#if` my way to success, but found it horrible to do with bare MSBuild, so I've rebased the [`feature/cake-build` branch](https://github.com/getsentry/raven-csharp/tree

[2017-04-26 12:29] ricardoalcantara commented on #125
Nice, I checked it :+1:

I believe that it will end up a heavily `#IF'ed` code.

I have checked the pull requests of netcore versions and there are at least 4 requests, what is missing?

[2017-04-26 12:59] asbjornu commented on #125
@ricardoalcantara:

The code is already rather heavily `#if`-ed, but by separating things into separate files, it's manageable. And with the build rewritten to Cake, it will be much easier to ensure a successful build across all build targets than today.

None of the pull requests attempt to preserve backwards compatibility with .NET 3.5 and all of them break the tests. I think that without comple

[2017-04-26 13:37] ricardoalcantara commented on #125
This is something I like! :slightly_smiling_face:

Got it! I am going to keep on track.

[2017-05-04 06:08] radenkozec commented on #125
@asbjornu Do you support .NET Core? What I need to do to integrate my .NET Core project?

[2017-05-04 18:45] asbjornu commented on #125
@radenkozec: Currently, no. But the long discussion above is an attempt to describe how to get there.

[2017-05-04 19:34] asbjornu commented on #183
The [`SentryEvent.Fingerprint` property](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/Data/SentryEvent.cs#L96) does not look `internal` to me?

[2017-05-04 21:31] octaviobffernandes commented on #183
Exactly this one, @asbjornu . The setter is internal.

[2017-05-05 05:23] asbjornu commented on #183
Yes, but the property is `public` and is a `IList`. Can't you `.Add()` to it?

[2017-05-05 09:17] octaviobffernandes commented on #183
Yes, that's ok.. I was trying to avoid a NullReferenceException, but I see now the list is being initialized on the private constructor. I will close the issue. Thanks!

[2017-05-05 09:17] #183 closed

[2017-05-05 10:35] asbjornu commented on #183
👍

[2017-05-10 02:27] skyline75489 opened #184 "CaptureAsync for .NET4"
With the help of [Microsoft.Bcl](https://www.nuget.org/packages/Microsoft.Bcl/) package we are able to use `Task`. Can we maybe also add `CaptureAsync` for .NET 4?

[2017-05-12 12:40] asbjornu commented on #184
Sure, if you're able to add a conditional reference to it when stuff is compiled for .NET 4.0, you can probably change the `#if` statements to include the `Async` methods when compiling .NET 4.0. Want to tackle this in a PR?

[2017-05-12 16:55] ryanvalentin commented on #162
Since UWP apps have used .NET native for a while now, the stacktraces generated from release builds aren't particularly helpful. Having debug symbol support in #85 would fix this (I've moved to HockeyApp for my apps because they support debug symbols).

[2017-05-14 20:10] asbjornu commented on #162
@ryanvalentin: Have you tried @kdazzle'z library? If that works, I would love to have that ported over to SharpRaven somehow.

[2017-05-15 09:05] #180 closed

[2017-05-27 09:12] skyline75489 commented on #184
The `async` feature will be fully supported after KB2468871 is installed. This is simply frustrating and confusing for anyone who want to work with Microsoft.Bcl.Async. With this in mind I'd rather just leave this be.

[2017-05-27 09:12] #184 closed

[2017-05-27 11:37] asbjornu commented on #184
Whether KB2468871 is installed or not only affects code consuming SharpRaven, not SharpRaven itself. We can compile in support for `CaptureAsync` and link against `Microsoft.Bcl` for .NET 4.0 regardless. It's up to you whether you want to submit a PR for this or not, but I believe it would work just fine.

The only drawback would be that .NET 4.0 users with KB2468871 installed would get a referenc

[2017-05-30 02:44] skyline75489 commented on #184
Here's some background that I forgot to mention: If the client doesn't have KB2468871, `Task<T>` still works, but any usage of `async` and `await` will cause craaaaash. Yeah. A pretty annoying gotcha.

[2017-06-01 14:57] stanislav-poliakov opened #186 "[ERROR] System.IO.FileLoadException: Could not load file or assembly 'Microsoft.CSharp, Version=4.0.0.0..."
[code]

[code]

[2017-06-02 09:53] stanislav-poliakov commented on #186
And raven client never capture event, because can't load some assemblies by permissions

[2017-06-06 15:46] DMWOO7 commented on #125
Are there any news about this issue?

Would like to see a integration for .NET Core that is independent from the old .NET framework, so that it can run on linux, too. Sentry is a very great tool, that should be avaliable for .NET core, which is a great framework too 👍

[2017-06-07 22:30] asbjornu commented on #186
I've never seen this before. The `Microsoft.CSharp` assembly is used to handle language features such as the `dynamic` keyword. What .NET version are you running on and are you hosting this in a particularly strict environment where certain forms of assembly loading is prohibited?

[2017-06-08 08:06] stanislav-poliakov commented on #186
Hmm, in any case it was only on my dev pc (I've tried to understand why it happen).
My solution in own code I've call smth from required library (to call some cctor and load assembly);
I guess some logged events happen in strict context, but I have no idea how to fix (assemblies are located in correct folders, .net repair done etc).
[code]
but currently in our Outlook Add-ins we occurs a little bi

[2017-06-08 09:01] asbjornu commented on #125
@DMWOO7: We should be able to achieve .NET 3.5 compatibility as well as a clean break for .NET Core all at the same time. As I wrote in https://github.com/getsentry/raven-csharp/issues/125#issuecomment-297399008, the work to enable this has been started, but I haven't had time to complete it just yet.

If you're able to help, please take a look at the [`feature/httpclient` branch](https://github.c

[2017-06-08 09:03] asbjornu commented on #186
Hm, that's strange. From what I know, JSON.NET v9 should be compatible with v6 and so your assembly redirect should work.

[2017-06-09 06:32] Jose-CF commented on #125
@DMWOO7 support in Linux works fine with .NET 4.6 using mono.
But really missing support of .NET Core. I have some .NetStandard library were I would like to use SharpRaven and not yet possible. :(

[2017-06-09 10:34] raRaRa commented on #125
@Jose-CF It should be fairly easy to migrate from SharpRaven to HttpClient. I've ported about 6 clients that were previously using SharpRaven without problem.

[2017-06-09 21:01] asbjornu commented on #125
The port to `System.Net.HttpClient` is already complete in both the [`feature/httpclient` branch](https://github.com/getsentry/raven-csharp/tree/feature/httpclient) and [`feature/cake-build` branch](https://github.com/getsentry/raven-csharp/tree/feature/cake-build). The latter builds on the former to simplify cross platform and framework building and is all that needs to be completed in order to a

[2017-06-12 14:54] DMWOO7 commented on #125
I tried the port from @wakawaka54 which works excellent. The only issue I see is that the `RavenSharp.Core` Client causes an exception on every `ravenClient.CaptureAsync()` Call:

[code]

Don't know where it came from. But it seems that this haven't any affect to the logger, since my exception was logged in sentry, although the SharpRaven error indicates that something went wrong with the loggin h

[2017-06-30 12:30] eduxavier opened #187 "Dll Required Newtonsoft.Json 6.0.0 in order to load"
I've tryied install the client in my app. Unfortunatly it cannot be load. Raven client requires a Newtonsoft.Json 6.0.0 (my was 4.5). Then I tried same version but couldn't find.

https://www.nuget.org/packages/Newtonsoft.Json/6.0.1

Any recommendation?

[2017-06-30 12:39] samukce commented on #187
Hey Eduardo, should works with the last version of the newtonsoft. You can
tray install the last one and try again.

Samuel Pereira
Senior Systems Analyst

c. +55 85 9 8883.1368

skype samuel.p.araujo
l. br.linkedin.com/in/samuelpereiraaraujo

g. github.com/samukce

On Jun 30, 2017 9:30 AM, "Eduardo Xavier" <notifications@github.com> wrote:

[2017-06-30 12:56] asbjornu commented on #187
@eduxavier: The `6.0.0` version that .NET refers to is probably the `AssemblyVersion`, not the NuGet package version. The `6.0.1` NuGet package you've found most likely has `6.0.0.0` as its `AssemblyVersion`.

[2017-06-30 16:22] jabrown85 commented on #125
In case anyone is looking for a relatively simple way to use RavenSharp as-is with aspnetcore on full .NET framework I'm posting a simple implementation.

https://gist.github.com/jabrown85/82baf795fc3853266118996fbd30dd50

The main part of the effort is how we decided to handle the HttpContext mismatch between aspnet versions. We created a request factory (`AspNetCoreSentryRequestFactory.cs`) that

[2017-07-04 18:28] eduxavier commented on #187
I've migrated to latest version and could use Raven. But I don't kike this approach as it forced me to do extra configuration and spend time. But thank you guys for the help.

[2017-07-04 18:28] #187 closed

[2017-07-16 20:13] mklingen commented on #186
Same problem, Json.net v9 unable to compile against sharpraven

[2017-07-16 22:31] mklingen commented on #186
modifying `app.config` fixed the issue.

[2017-07-17 08:56] stanislav-poliakov commented on #186
How did you change `app.config`?

[2017-07-17 12:28] mklingen commented on #186
You can redirect the `.dll` that's being loaded at runtime like so:

[code]

[2017-08-10 14:52] erandros commented on #125
Is this happening anytime soon? I'm trying really hard to stick to sentry, but this problem is making it hard.

[2017-08-14 20:01] michaelpinnell commented on #125
Going off the gist @jabrown85 provided I was able to get a mostly working implementation of it up and running for our new Core Services project, so depending on your needs @erandros your best bet currently is to go for that.

That being said now that Core 2.0 has been finalized I'm considering trying to see if I can get something a little more robust working so we can really get Core Support off t

[2017-08-15 02:52] Jose-CF commented on #125
I think there is a good point in getting it working in NetStandard 2.0 rather than 1.x ...
Being the point that it can be reusable from net461 assemblies.

[2017-08-25 03:36] designinsist opened #188 "Asp.Net using VB"
I am Asp.Net developer and use VB for backend. My concern is very simple, i just want to know that "Sentry" support VB or not ? I contacted Sentry support and they suggest me to create an issue on GITHUB. That is why i am here.

Waiting for you guys response.
Bundle of thanks in advance.

[2017-08-25 10:13] asbjornu commented on #188
There should be no problem interfacing with the [SharpRaven NuGet Package](https://www.nuget.org/packages/SharpRaven) from VB.NET. Have you tried?

[2017-09-04 03:50] MaikuMori commented on #125
Seems like there are multiple PR, but none is finalizing this. What's the status?

[2017-09-04 10:50] asbjornu commented on #125
@MaikuMori: I tried to outline the status in https://github.com/getsentry/raven-csharp/issues/125#issuecomment-297399008.

[2017-09-05 04:25] Jose-CF commented on #125
@DMWOO7 over here we really need support for 3.5. The reason is that currently Unity3D does not support anything higher than .NET Framework 3.5.
So, that's terrible, but you can send the complains to them :p

[2017-09-05 08:59] asbjornu commented on #125
@Jose-CF: Yes, the goal is to support everything from .NET 3.5 and up to the latest version of .NET Core through `#if` statements in the code and conditional builds in Cake.

[2017-09-20 01:45] plsft opened #190 "newtonsoft json reference error?"
System.IO.FileNotFoundException occurred
  HResult=0x80070002
  Message=Could not load file or assembly 'Newtonsoft.Json, Version=6.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified.
  Source=SharpRaven
  StackTrace:
   at SharpRaven.RavenClient.<CaptureAsync>d__0.MoveNext()
   at System.Runtime.CompilerServices.AsyncTask

[2017-09-20 07:43] asbjornu commented on #190
Duplicate of #154. I guess you have a higher version of Newtonsoft.Json than `6.0.0.0` in your solution, which means you need to change the assembly redirect to include that version number and also to redirect it to that version number. If you have version `9.0.0.0` in your solution, the assembly redirect needs to look like this:

[code]

[2017-09-21 00:10] plsft commented on #190
I'm familiar with assembly binding.  I've tried several versions of Newtonsoft.Json including 6, 9 and 10 to no avail. with each version I updated the app.config.

[2017-09-21 00:22] plsft commented on #190
my app.config:
[code]
![image](https://user-images.githubusercontent.com/13736152/30673453-3e96f670-9e41-11e7-908b-182c33fbd9d9.png)

usage:
![image](https://user-images.githubusercontent.com/13736152/30673461-4d771be8-9e41-11e7-86d1-1acfa41e9c1a.png)

exception:

![image](https://user-images.githubusercontent.com/13736152/30673483-67b9c104-9e41-11e7-9522-dea923f1ac6d.png)

[2017-09-21 06:29] asbjornu commented on #190
There are no other projects or external references in your solution referencing another version of Newtonsoft.Json? Do you have more than one `.config` file in your output directory?

[2017-09-21 13:40] HazAT opened #191 "Add sampleRate parameter"
We've decided to add a `sampleRate` config parameter to all SDKs.
The concept of it is pretty straightforward, it should be a float between `0.0 - 1.0`. The value defines the likelihood of sending an event.

So here is an example from the Java SDK:
https://github.com/getsentry/sentry-java/blob/4df5218deab6c874458fa21ed696af503ea161ef/sentry/src/main/java/io/sentry/connection/RandomEventSampler.jav

[2017-09-21 13:47] plsft commented on #190
there are other config files in the bin folder however they are all bound to same v6 version. i just added newtonsoft.json directly as a ref to the project. it works now

[2017-09-21 13:47] #190 closed

[2017-09-21 21:20] asbjornu commented on #190
@plsft: I'm glad you figured it out!

[2017-09-25 08:43] joshingham opened #192 "Line numbers consistently wrong"
I'm finding that the line numbers reported to Sentry are wrong for every single event. I am in an MVC envrionment.

For example, in the attached file, which is the Raw from an event, the line in question is not in inside the Register Player method. There also seems to be no pattern that I can discern, for example that the line number is always the correct number plus 60 or something like that.

[E

[2017-09-25 09:24] asbjornu commented on #192
If you look at the source code:

https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/Data/ExceptionFrame.cs#L60

You can see that we fallback to `StackFrame.GetILOffset()`, which does not correspond to a line number in a source file, but to the IL instruction offset on the stack.

If you use [dotPeek](https://www.jetbrains.com/decompiler/), you can decompile the `DLL` file an

[2017-09-25 09:31] joshingham commented on #192
Thanks, that's good to know. I don't think it's clear in Sentry that this is what is required to get the reported line number to match up to the actual line number. I'll get in touch with them.

[2017-09-25 09:31] #192 closed

[2017-10-15 10:00] sbaechler commented on #60
Are there any updates on PCL support? There is a fork that does have PCL support but it also has a dependency on Xamarin.Forms which is not needed for native apps.

[2017-10-16 16:19] asbjornu commented on #60
@sbaechler: Please have a look at what's going on in #189. If that direction is not solving your problems, I'm open to pull requests.

[2017-10-23 15:07] Rekeyea commented on #125
Just tried RavenSharp on .Net Core 2 without modifications and it works like a charm :-D

[2017-10-23 15:46] erandros commented on #125
@Rekeyea just tried it on my project and the build was ok
@asbjornu how safe do you feel is it to use it on my production projects?

[2017-10-23 19:06] asbjornu commented on #125
If it works, I see no reason why it shouldn't be as stable as on other runtimes. Good to hear that .NET Standard 2.0 finally brings .NET Core up to speed! 😄  👍

[2017-11-01 00:01] kodejack opened #193 "SharpRavenPCL"
I'm currently trailing Sentry for Xamarin Form project. However I cannot get it to Build on Android and it crashes at run time on iOS.

`/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets(2,2): Error: Exception while loading assemblies: System.IO.FileNotFoundException: Could not load assembly 'SharpRavenPortable, Version=0.0.0.0, Culture=neutral, Publ

[2017-11-01 08:19] asbjornu commented on #193
#132, #145, #163, #168 and #189 all attempt to tackle this problem in one way or another. I'd say #189 is closest, so I hope we can get an AppVeyor build running there shortly and get it ready for merging.

[2017-11-02 11:51] Vlaaaaaaad commented on #125
Is there still work to be done on this?

[2017-11-03 08:25] postedo commented on #125
It might run on dotnet core when you're running windows. but (at least out of the box) not when you're on osx or linux.
most of the dependencies for SharpRaven are .net 4.6.1
`warning NU1701: Package 'Newtonsoft.Json 6.0.8' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.0'. This package may not be fully compatible with your project

[2017-11-03 10:15] asbjornu commented on #125
Yes, that's why we have #132, #145, #163, #168 and #189 going. Once we have a build targeting .NET Core, it should work on all platforms.

[2017-11-03 12:28] Vlaaaaaaad commented on #125
Perfect! Even though some of the PRs are from 2016...

We are considering using Sentry for new projects and this is a blocker for us as all the new apps are .NET Core 2.0 on Linux.

[2017-11-03 15:14] asbjornu commented on #125
@Vlaaaaaaad: Seems like #189 is moving forward now, so it shouldn't be long before we have this in place.

[2017-11-16 11:13] trurl123 opened #195 "Sending data to Sentry from custom error aggregator"
I want to use raven-sharp from service that gives some information about exception that occured at other servers and applications. So I want to build JsonPacket by myself. Would you please make all proprties at ExceptionFrame as public?

[2017-11-17 10:45] lujvari commented on #186
I also have problem with missing Newtonsoft assembly:
 Could not load file or assembly 'Newtonsoft.Json, Version=6.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

But i already use higher version that should be compatible:
`<runtime>`
`<assemb

[2017-11-19 22:39] PsychoTea opened #196 "Exceptions not being posted from within Unity (4.5.5f1)"
I'm using the following code, and attempting to post exceptions with it from within a Unity game:

[code]

However, any exceptions passed to `Sentry.LogException` are never logged to the dashboard. The same code works fine from a separate program (also using .NET 3.5), however not from within the game. No errors occur and everything _appears_ to be fine.

All dependencies (Newtonsoft.JSON v6.0.0.0

[2017-11-21 14:47] asbjornu commented on #196
Isn't this a duplicate of #193, #145, #126, #70 and #60?

[2017-11-21 14:51] asbjornu commented on #195
Sure, pull requests are welcome!

[2017-11-22 07:22] trurl123 commented on #195
Created https://github.com/getsentry/raven-csharp/pull/197

[2017-11-23 22:29] #195 closed

[2017-12-01 21:23] Tibincrunch opened #199 "Setting the User"
I'm having trouble setting the user context, can someone help clarify the process? I've inherited the SentryUserFactory like so:

[code]

I'm my Startup.cs I've registered the HttpContextAccessor:
`services.AddSingleton<IHttpContextAccessor, HttpContextAccessor>();`

I'm not sure what to do next. Thanks.

[2017-12-01 23:24] Mitch528 commented on #199
In Startup.cs you will also need to register the RavenClient:
[code]

You can then inject IRavenClient into your services and capture the exceptions using the client.

[2017-12-02 00:41] Tibincrunch commented on #199
Perfect, everything is working as expected. Thanks for the quick response!

[2017-12-02 00:41] #199 closed

[2017-12-06 02:00] MaikuMori commented on #125
With #189 merged, what's the progress on this?

[2017-12-06 15:23] FrankGag opened #200 "StackTrace line numbers are incorrect"
Hi,

It seems like all the stack trace line numbers in the exceptions are way off. They're often way over the total number of lines in the file where the exception was thrown.

Is this a known issue?

Thanks,
Frank

[2017-12-06 15:28] #200 closed

[2017-12-07 12:46] matheusmogi commented on #125
I'm trying to use the example for C# with .net Core (RavenSharp.Core -Version 1.0.0-beta-1) but I can't get the exception to my account.
Is it working?

[2017-12-13 13:55] nerfpops opened #202 "Sentry: Discarded invalid value for parameter 'exception'"
Using version 2.2.0.0

Stack traces seems to be sent with invalid values. This is what Sentry says is discarded:

[code]

[2017-12-18 04:51] xgenvn commented on #125
@Rekeyea Can you share your configuration and steps to make RavenSharp.Core beta working? I'm trying to integrate to a .Net Core 2 Web API project, throw the exception doesn't seem to have any effect.

Thanks.

[2017-12-18 09:29] knocte commented on #193
I'm having similar problems as @kodejack .

@asbjornu looks like #189 has been merged, so is this usable if I clone last SharpRaven from git (instead of using Nuget)?

[2017-12-21 10:36] awesomehimanshu opened #203 "System.Net.WebException: The remote server returned an error: (407) Proxy Authentication Required."
**[ERROR] System.Net.WebException: The remote server returned an error: (407) Proxy Authentication Required.**
   at System.Net.HttpWebRequest.GetRequestStream(TransportContext& context)
   at System.Net.HttpWebRequest.GetRequestStream()
   at SharpRaven.Data.Requester.Request() in c:\BuildAgent\work\6ff01e7f375f2953\src\app\SharpRaven\Data\Requester.cs:line 133
   at SharpRaven.RavenClient.Send(J

[2017-12-22 05:48] awesomehimanshu commented on #203
Can solve by .NET application it self .

WebRequest.DefaultWebProxy.Credentials = CredentialCache.DefaultNetworkCredentials;

or

 WebRequest.DefaultWebProxy.Credentials = new NetworkCredential("usename", "password");

[2017-12-22 05:48] #203 closed

[2018-01-09 16:17] ShooterArk commented on #125
I have integrated Sentry as directed but I am unable to get any exceptions :/ .. Is anyone still facing this issue? A simple "Hello World" is also not visible on the dashboard. Am I missing something? Doesnt it take 24 hours to update like few of the others that I have worked it!! Please advise.

Thanks.

[2018-01-16 03:46] thatpoordev opened #204 "Disregard"
Edit: I'm an idiot and in the wrong place. Disregard.

[2018-01-16 06:32] awesomehimanshu opened #205 "Raven-csharp is not working for windows c# in release mode"
**The remote server returned an error: (403) Forbidden.**

When i run my C# application in visual studio in debug mode .
All the error are logging in the sentry portal .
But when i create .exc of it and run as service the application is working fine also looging perfecting in window Event Viewer.

![image](https://user-images.githubusercontent.com/16804408/34974674-5a134e06-fab4-11e7-8a2a-f24083fc

[2018-01-16 18:11] #204 closed

[2018-01-19 13:54] MikeDrewitt opened #206 "Changing SharpRaven Data before Capture"
Currently I'm looking for a way to change the request data before it is sent to sentry. I'm trying to do this because the API request that's coming in is larger than 100Kb which Sentry doesn't accept.

My original thought was to just change the Data before the capture removing the large field, but the Data is set to readonly. My second thought was to create a new JsonPacketFactory in the BeforeSen

[2018-01-21 17:36] semarj commented on #125
FWIW I just hooked 2.2.0 up in an AspNetCore app and it appears to works well other than the suppressible NU1701 warning.   Exceptions being captured with all the expected context.  I checked on https://icanhasdot.net/result?github=getsentry~2Fraven-csharp and it makes me comfortable that the .NET Core compatibility shim will just work.

[2018-01-30 16:07] sereeth commented on #125
there any release in sight?  Would like to use nlog sentry target but it ref's the old version which obviously doesn't work with .net core (which is kinda popular).

[2018-02-02 18:35] asmo9 opened #207 "Support for web proxy"
Hi guys.

After a first look, I didn't find a way to provide a web proxy to the Sentry client. Did I miss something?

If it's not supported, I can see what I can do in a PR.

Cheers!

[2018-02-03 10:20] bruno-garcia commented on #207
Could you please describe your environment? .NET Framework, Mono, OS version, App type: Console app, web app..

Is defining an application-wide proxy an option for you?

You can define a proxy to be picked up by _HttpWebRequest_ (the current API used by SharpRaven for web requests) [via web/app.config](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultprox

[2018-02-04 16:15] bleppard opened #208 "Strongly Named Assembly"
I am writing an application that needs [strongly named assemblies](https://docs.microsoft.com/en-us/dotnet/framework/app-domains/strong-named-assemblies#why-strong-name-your-assemblies). When I build the app with ShrapRaven included in NuGet I get the following error.

`1>CSC : warning CS8002: Referenced assembly 'SharpRaven, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null' does not have a s

[2018-02-05 03:06] Jose-CF commented on #125
So... any news on this? I mean... it's a pitty if we have to discard sentry as our log management tool just because lack of support of .NET Core.

[2018-02-05 15:21] brunoblank opened #209 "Bug: Reset InputStream position (2.2.0)"
Hi,

We have run into a problem with Sentry and Flourine.

Flourine reads the input-stream in chunks, when Flourine logs in this process, it cannot continue consuming the InputStream as Sentry consumed it.

Regards
Bruno Blank

[2018-02-05 15:24] brunoblank commented on #209
Will submit a PR shortly

[2018-02-06 04:39] knocte commented on #125
@Jose-CF FWIW in my case I'm using https://github.com/ricardoalcantara/raven-csharp-light in the meantime.

[2018-02-06 16:04] jonmcoe opened #211 "set RavenClient's defaultTags"
is there any way to properly set this field?

https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L50

https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L107

I don't see how. I am happy to PR an additional setter, constructor addition, or make this field public (don't really see why it is any different than, say `Release`

[2018-02-06 17:11] bruno-garcia commented on #211
You can use the [public Tags property](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L169).
You can use the `IDictionary.Add` method to add tags to it.

[2018-02-06 17:19] jonmcoe commented on #211
ah. so i get the same dictionary and add all the tags i'd like in sequence, but cannot reassign it. that'll do. thanks

[2018-02-06 17:19] #211 closed

[2018-02-06 19:41] masaanli commented on #125
When coming? Almost :)

[2018-02-11 02:56] Amyyum opened #212 "Change packet before upload(C#)"
Hi,
before upload, the packet will automatic get assemblies which I don't want to upload(Actually  it has a large of data which is not very useful for me. ). So if there can be a interface or other ways to help me shut down this upload?
Thanks!

[2018-02-12 11:10] razzmatazz opened #213 "Noop implementation of IRavenClient"
I think it would be nice to have a no-op implementation of IRavenClient available as that helps with dependency injection on development builds where I don't want to have nulls injected but rather an implementation that does not send data anywhere.

Would it make sense to include it in main distribution?

I can make a PR for this, however I am not sure about the naming of the class.

[2018-02-12 13:32] bruno-garcia commented on #212
I believe the only hook so far is:

[code]

Could you describe a bit better what do you mean by: 'automatic get assemblies'?

[2018-02-15 21:32] Tsury opened #216 "How do I define a new release? How do I add PDBs?"
I saw nothing about it in the docs. I want to be able to create releases and see stacktraces, is this even possible?

[2018-02-16 15:16] birdycn commented on #216
Hello,I'm a newcomer of GitHub.
May I ask you a question, please.
Throug the [topic](https://github.com/sorrycc/blog/issues/55#issuecomment-359194843),you have successfully used svg-sprite-loader in roadhog2.0, how your webpack.config.js is configured.

My webpack.config.js is as follows, and it's report errors:require(...) is not a function.
`module.exports = {
  module: {
      loaders: [

[2018-02-16 16:26] Tsury commented on #216
That's the relevant part of my webpack config:

[code]

I also  added /\.svg$/ to the exclude list of url-loader in roadhog code.

[2018-02-22 02:54] Amyyum commented on #212
Maybe you can refer to the  following the code:
private JsonPacket()
        {
            // Get assemblies.
            Modules = SystemUtil.GetModules(); //just it which I want to shutdown the upload

            // The current hostname
            ServerName = System.Environment.MachineName;

            // Create timestamp
            TimeStamp = DateTime.UtcNow;

            // Default logge

[2018-02-22 06:12] Amyyum commented on #212
I have solved it. Thanks for your reminding me.

[2018-02-22 07:19] Amyyum commented on #212
Hi, I have another question want to ask you. Can I delete the tags  of "user"?Which I do like following but no effect.
requester.Packet.User.Username.Remove(0,userNameL);_

[2018-02-22 21:48] ghost commented on #207
Hi Bruno.

Thanks for your response; and sorry for not getting back to you right away.

I think your solution is great, and should work for most use cases. My scenario is a bit trickier, however.

Here's some info on the app:

**App type:** End-user client
**Framework:** .NET Framework 4.6
**Language:** C#
**Front-end:** WPF
**Supported OS:** Win7 up to Win10

The application already has a mechani

[2018-03-01 02:10] Amyyum commented on #99
Hi, may be you know the reason of exceptions are notified in sentry but don't e-mail to me ? Thanks very much!

[2018-03-02 09:07] jjradke commented on #125
Any update on this?  We are also working on porting all our apps to Net Standard 2 for the libraries, and Net Core 2 for the apps; and really want to continue using Raven!

[2018-03-02 22:18] asbjornu commented on #125
Since #189 is merged, we now only need to get an AppVeyor build up and running. I'm working on it, but any help would be appreciated.

[2018-03-02 23:26] jjradke commented on #125
How will we know which version it will be that will have this?

Will it work for .NET Standard 2.0, and .NET Core 2.0 apps without requiring any framework modules to be added to the solution?

[2018-03-02 23:46] asbjornu commented on #125
What packages we produce depends on the [Cake script](https://github.com/getsentry/raven-csharp/blob/develop/build.cake). It currently builds .NET 4.5, .NET 4.0 and .NET 3.5. I haven't investigated what we need to do to add .NET Standard 2.0 builds, but assuming the source code is compatible it shouldn't be too much work.

Either way, afaik none of the existing pull requests for .NET Core / Standa

[2018-03-03 00:39] asbjornu commented on #193
You should be able to download the [`.nupkg` artifacts from the latest AppVeyor build](https://ci.appveyor.com/project/sentry/raven-csharp/build/Branch.develop.Sha.3c30a19c953744afb99ff4a618c6c97a062597e7/artifacts) and use those. Please let me know how that works.

[2018-03-03 00:41] asbjornu commented on #208
Please use [StrongNamer](https://github.com/dsplaisted/strongnamer) to strong name SharpRaven yourself.

[2018-03-03 00:41] #208 closed

[2018-03-03 03:10] asbjornu commented on #188
Closing due to inactivity.

[2018-03-03 03:10] #188 closed

[2018-03-03 03:13] asbjornu commented on #158
The release can be set on `RavenClient.Release` and is sent to the Sentry API on every event that is captured:

https://github.com/getsentry/raven-csharp/blob/3c30a19c953744afb99ff4a618c6c97a062597e7/src/app/SharpRaven/RavenClient.cs#L156-L159

This was implemented years ago and has been working fine. Closing.

[2018-03-03 03:13] #158 closed

[2018-03-03 03:15] asbjornu commented on #209
Fixed by #215.

[2018-03-03 03:15] #209 closed

[2018-03-03 03:19] asbjornu commented on #205
Are you 100% certain `objConfiguration.Service.SentryUrl` is the same for both release and debug builds and that it is the correct [DSN](https://docs.sentry.io/quickstart/#configure-the-dsn)?

[2018-03-03 03:21] asbjornu commented on #216
Release is set on the `RavenClient.Release` property. PDB support is tracked in #85, please subscribe to that issue if you want to follow its progress.

[2018-03-03 03:21] #216 closed

[2018-03-03 03:21] asbjornu commented on #150
Fixed in #182.

[2018-03-03 03:21] #150 closed

[2018-03-03 03:25] awesomehimanshu commented on #205
It is working . This issue has to do with my proxy and authentication issue , not related to this repo .

[2018-03-03 03:25] #205 closed

[2018-03-03 18:08] jjradke commented on #125
Excellent!  When it is available via NUGET, post on here, and I will pull it down and test it a lot next week as I am working on/testing my code migration!

THANKS!!!

[2018-03-04 01:13] asbjornu commented on #125
[SharpRaven version `2.2.1-unstable0054`](https://www.nuget.org/packages/SharpRaven/2.2.1-unstable0054) was just published to NuGet.org. Please test it and report back your status. Thanks!

[2018-03-04 23:41] asbjornu commented on #200
Duplicate of #192.

[2018-03-05 20:31] asbjornu commented on #193
[SharpRaven version `2.2.1-unstable0059`](https://www.nuget.org/packages/SharpRaven/2.2.1-unstable0059) was just published to NuGet.org. Please test it and report back your status. Thanks!

[2018-03-05 20:32] asbjornu commented on #162
If .NET Core support may be of any help, [SharpRaven version `2.2.1-unstable0059`](https://www.nuget.org/packages/SharpRaven/2.2.1-unstable0059) was just published to NuGet.org. It has a .NET Core build target inside of it. Please test it and report back your status. Thanks!

[2018-03-05 20:33] asbjornu commented on #213
Sure, that sounds neat. A PR would be appreciated! 😄

[2018-03-05 20:36] asbjornu commented on #212
@Amyyum, have you tried this?

[code]

[2018-03-05 20:42] asbjornu commented on #207
@asmo9: Having support for a proxy is a good idea. I think exposing an `IRavenClient.Proxy` property seems like a sensible way to do it. Where it'll actually be used is within the [`Requester`](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/Data/Requester.cs) class. A PR for this would be appreciated. 😃

[2018-03-05 20:43] asbjornu commented on #206
Can you please have a look at #212 and see if the discussion there is of any help?

[2018-03-05 20:43] dcramer commented on #207
FWIW we're also going to be releasing a standalone service that you can run on your machines that can act as a proxy/relay. If its overly complex to add proxy support to the SDK I'd say to just avoid it, as we're aiming to tackle it as a fix-all.

[2018-03-05 20:44] asbjornu commented on #202
@dcramer: Ideas on what's invalid in the JSON above?

[2018-03-05 20:45] asbjornu commented on #207
The proxy support in .NET's HTTP libraries is pretty simple and solid, so it won't be much code required to add this. Awesome that you're tackling this centrally, though! 👍

[2018-03-05 20:46] asbjornu commented on #129
I see. A pull request for this would be highly appreciated, @tigerclawn82.

[2018-03-05 20:48] asbjornu commented on #196
[SharpRaven version `2.2.1-unstable0059`](https://www.nuget.org/packages/SharpRaven/2.2.1-unstable0059) was just published to NuGet.org that might help with this. Please test it and report back your status. Thanks!

[2018-03-05 20:49] dcramer commented on #202
@nerfpops what version of Sentry? I didn't get any validation errors with HEAD.

[2018-03-05 20:58] asbjornu commented on #186
If you think updating to a newer version of `Newtonsoft.Json` might help, I'd happily accept a pull request doing just that.

[2018-03-06 01:23] Amyyum commented on #212
Yes，I have do it.Thanks very much.

On Tue, Mar 6, 2018 at 4:36 AM, Asbjørn Ulsberg <notifications@github.com>
wrote:

--

*Amy Yu*
*TVU Networks*
1279, ZhongShan Road West, Building 6, 10th floor
<https://maps.google.com/?q=1279,+ZhongShan+Road+West,+Building+6,+10th+floor&entry=gmail&source=g>
Shanghai, P.R.China
amyyu@tvunetworks.com

*Making every transmission a success*
www.tvunetworks.com
Fa

[2018-03-06 22:51] asbjornu commented on #212
@Amyyum: Does it work? Can this issue be closed?

[2018-03-07 05:34] razzmatazz commented on #213
@asbjornu ok, here is my first attempt at PR, #222 :)

[2018-03-07 05:43] Amyyum commented on #212
@asbjornu   Yes, it have been closed.Thanks very much.
And I want to ask a another question , that  in the sentry server-side, if we want to send emil for an issue ,we must at most once every   5 minutes which can take these actions. Can we change the time to 1 minute or less? (You can find it at  server-side : Progect Setting=>Alerts=>rules=>Perform these actions at most once every 5 minute for a

[2018-03-07 13:49] debrandt commented on #206
I was having the same question. Found out that the JsonPacket does implement setters for its properties. You can access the JsonPacket through the Packet property of the requester.

[2018-03-08 14:27] #213 closed

[2018-03-09 10:07] jjradke commented on #125
I have been testing it out this week on Net Standard 2.0 DLL's being used within a .NET Framework 4.6.2 application, as well as from within .NET Core 2.0 Microservices running within Docker on Linux, and everything has been running as expected, with appropriate logging being posted!

[2018-03-09 20:08] asbjornu commented on #125
@jjradke: I'm glad it works! Given your feedback and the 236 downloads of the beta so far, I think we can declare this done and done. Closing this as complete. Thanks for the patience everyone, I'm happy we finally nailed this and that you stuck with it for so long.

[2018-03-09 20:08] #125 closed

[2018-03-10 11:06] davidroth commented on #125
Cool! @asbjornu  any eta for 2.2.1 nuget without `-unstable`?

[2018-03-10 19:54] asbjornu commented on #125
@davidroth: Minus 60 seconds. 😄 [2.3 is out the door](https://github.com/getsentry/raven-csharp/releases/tag/2.3).

[2018-03-14 08:29] peyman-contribe opened #229 "Could not load file or assembly 'System.Configuration.ConfigurationManager'"
Hi,
In .net standard, I cannot use ConfigurationManager 4.4.1 because you already give a reference to 4.4.0.
Even if I want to use version 4.4.0 in .net standard I get a runtime error and it cannot load file or assembly... ( I guess v 4.4.0 is not supported by .net core)
In this case, I can't use ConfigurationManager at all. However, I fixed this issue by using IOption and dependency injection.

[2018-03-19 12:01] asbjornu commented on #229
Any ideas how to fix this?

[2018-03-19 12:02] asbjornu commented on #186
Is this still a problem in [verskion `2.3.2`](https://www.nuget.org/packages/SharpRaven/2.3.2)?

[2018-03-19 13:11] webchetan commented on #125
@asbjornu Thank you. Looks like its working. :)

[2018-03-26 07:58] alirezajm opened #230 "Exception when instantiating NoOpRavenClient"
Instantiating a NoOpRaventClient will result in a Invalid Dsn exception.

here's the trace
[code]

I tried to pass the `http://localhost/no-op-dsn` and `http://sentry-dsn.invalid` both are considered invalid. The issue is obviously from the Dsn class.

_building for netcoreapp2.0_

[2018-03-26 07:58] alirezajm commented on #230
Well it's trying to find credentials from the uri which aren't there.
Can do a fix if wanted.

[2018-03-26 09:26] alirezajm commented on #230
posted a simple fix: #231

[2018-04-12 12:00] bruno-garcia opened #234 "Fix Travis-CI build"
Travis build has been broken for a month now.
I traced the changes to the cake file and none seem related. Building an older version that has successful builds on Travis will fail now with the same error.

Filed an issue: cake-build/cake/issues/2126

[2018-04-12 15:52] Newmski commented on #125
Are there any examples that show how to set this up using ASP Core 2? e.g. ConfigureServices

[2018-04-12 16:26] bruno-garcia commented on #125
I've just tested it and it worked:

[code]

Please note that Sentry will be working on providing a better experience for ASP.NET Core integration.
Basically what one would expect: .AddSentry, .UseSentry kind of experience.

[2018-04-13 12:37] Newmski commented on #125
@bruno-garcia Thanks, that works

[2018-04-13 17:05] MikeDrewitt commented on #206
@debrandt Thanks for letting me know. I had figured out a different solution to the problem I was fixing, but looking into your solution that would have fixed my issue.

[2018-04-16 15:25] bruno-garcia opened #236 "Send TimeZone information with Contexts data"
As part of the Contexts interface, provide the TimeZone information with each event.

Sentry docs on the Context Interface: https://docs.sentry.io/clientdev/interfaces/contexts/

The most consistent API for this is `TimeZoneInfo.Local.Id` which has also been around for a while so no need for #ifdef

On CoreCLR, Linux and macOS, it'll return the 'Europe/Vienna' format.
On CoreCLR and CLR on Windows

[2018-04-16 16:12] bruno-garcia commented on #236
/cc @mitsuhiko

[2018-04-17 14:54] LoveDuckie commented on #186
I have a feeling that it might be, although my problem could be unrelated. When I have call backs assigned to AppDomain.Current.FirstChanceException, it gets stuck in a infinite loop because it complains about it not finding a "id" attribute. The exception is throw from somewhere in Newtonsoft.Json. I am not sure if this is related to inconsistent version references. I am using version 10.0.0

[2018-04-19 20:25] asbjornu commented on #206
@MikeDrewitt: Does that mean this issue can be closed?

[2018-04-19 20:29] asbjornu commented on #236
dotnet/corefx#11897 seems relevant.

[2018-04-23 14:06] chris-smith-zocdoc opened #239 "Decouple Event Capture from Send"
Currently the collection of the [User and HttpRequest details](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L333-L335) event properties is tied to the submission of the event to sentry which is less than ideal as it requires the request thread to make the http request.  I'd like to be able to capture the event with all its details on the request thread,

[2018-04-23 15:04] bruno-garcia commented on #239
The use case makes sense. Having the client write the event to a buffer (i.e BlockingCollection) to be consumed by a worker thread is used in other SDK's at Sentry too.

It'd be awesome to get a PR with this feature too. Perhaps one thing to clarify is how to do it.
I might be missing something but wouldn't be simpler to create an interface for `Requester` say `IRequester`, rename the current one

[2018-04-23 15:05] bruno-garcia commented on #236
#237

[2018-04-23 15:05] #236 closed

[2018-04-23 16:34] chris-smith-zocdoc commented on #239
I think the design of the producer/consumer would require some more thought than I've put into this so far which is why I would want to hold off on that for a later pr. One complication is that the current `Capture` methods return the `eventId` of the sentry event.

Either way I believe these are necessary changes
- Move the PreparePacket call out of the Requester constructor and into RavenClient

[2018-04-23 22:31] mehdymohajery opened #241 "InvalidOperationException"
I log internal exceptions of sharpraven locally and this exception keeps showing:
[code]

[2018-04-24 10:53] #234 closed

[2018-04-24 11:25] bruno-garcia commented on #241
It'll be tricky to reproduce with only that information.
Could you please provide some way for us to repro this?

It does seem like a Json.NET/encoding issue rather but would be great to debug through it.

[2018-04-24 12:54] bruno-garcia commented on #239
@chris-smith-zocdoc That sounds good.

I'm not sure about sharing the Requester, it makes sense to me but not sure how hard of a change it'd be considering the current design expects an instance per request (request is sent by invoking a method on it which depends on its state).

Our support for producer/consumer will happen eventually but if this change unblocks you, better not wait for us. We'll

[2018-04-30 09:41] bruno-garcia opened #244 "Report Runtime information in reliable way."
Through #237 we've added support to [Contexts Interface](https://docs.sentry.io/clientdev/interfaces/contexts/).

The [Runtime information extraction was best effort](https://github.com/getsentry/raven-csharp/commit/4130daa36113646968c7b1b5b30ddc87ab7e320a#diff-1cfd629c6ea20585ea666e3da78e02d5) considering that [not even Microsoft has figured out a way to do this properly](https://github.com/dotne

[2018-04-30 13:45] bruno-garcia opened #245 "Device architecture reported based on process architecture"
When targeting .NET Framework 4+ the API used to extract CPU architecture uses the [bitness of the process instead of the machine](https://github.com/getsentry/raven-csharp/blob/4df3d8844ef8009752a66fd3793ac8feaccb9141/src/app/SharpRaven/Data/Context/Device.cs#L220).

Contexts interface for Device architecture expects the bitness of the actual device.

* Consider adding application bitness `Enviro

[2018-04-30 13:48] bruno-garcia commented on #239
@chris-smith-zocdoc I started a proposal that hopefully will fulfill your requirements: #242
Could you please let me know if that'd solve your problem? If so, we'll be prioritizing this work and shipping it with version 3.0.0

[2018-04-30 13:52] bruno-garcia opened #246 "meta: Release 3.0.0"
This issue will track the release of version 3.0.0

- [x] Background worker client: #242
- [x] Bump up version of Newtonsoft.Json
- [ ] Make sure payload can be modified through `IRequester`

[2018-04-30 14:07] chris-smith-zocdoc commented on #239
@bruno-garcia Yes it will. I'm looking over it now

[2018-04-30 14:09] bruno-garcia commented on #239
Thanks! Feel free to join [Gitter](https://gitter.im/getsentry/raven-csharp) if you'd like to discuss in more details

[2018-05-01 00:27] razfriman commented on #125
@bruno-garcia - Using your example, I created an extension class that will add that functionality

[code]

startup.cs.Configure()
[code]

[2018-05-02 09:08] bruno-garcia commented on #125
@razfriman our goal is to provide a package which will give you that experience. It'll be coming soon.

[2018-05-02 09:58] #245 closed

[2018-05-04 06:26] roryprimrose commented on #125
@bruno-garcia Is that going to be a separate package specifically for ASP.Net core? Will it also populate sentry reports with request/response data?

[2018-05-07 20:00] winzig opened #249 "SentryUserFactory.OnCreate never called?"
I've tried to piece together how to do custom SentryUser configuration from other issues I found reported here, but am having difficulty getting it to do anything.

In Startup.cs's ConfigureServices method, I have:

[code]

My `CustomUserFactory` class looks like this:

[code]

I can confirm that the constructor is called, because my breakpoint on `this.context = context;` gets hit, but my code ne

[2018-05-09 10:05] bruno-garcia commented on #249
Hi @winzig,
Sending an event will eventually call the factory (and your overriden `OnCreate`) [as we can see here](https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/RavenClient.cs#L333), but only if the Packet had not yet defined a user. By any chance, do you have also a custom `JsonPacketFactory`? It's invoked [here](https://github.com/getsentry/raven-csharp/blob/develop/s

[2018-05-10 18:20] bruno-garcia commented on #244
Moved to: https://github.com/getsentry/dotnet-sentry-platform-abstractions/issues/2

[2018-05-10 18:20] #244 closed

[2018-05-11 12:52] bruno-garcia commented on #125
I've only been involved with the project for about a month but from what I see in the code:
https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/Data/HttpRequestBodyConverter.cs#L55

It already has support to extracting the payload.

I also believe I read that the support to `dynamic` was introduced so that `HttpContext` from `System.Web` (classic ASP.NET) and from ASP.NET Cor

[2018-05-11 19:34] asbjornu commented on #125
@bruno-garcia, that’s correct. :)

[2018-05-11 22:26] johnknoop opened #251 "Connect to self-hosted Sentry?"
Hi!

I couldn't figure out if Raven only work with the hosted version, or if you can specify you own hostname somehow?

[2018-05-11 22:27] bruno-garcia commented on #251
You can connect to any instance of Sentry. Be that sentry.io or an on-premises one.
The DSN contains your organization/project-id and also the server endpoint.

[2018-05-11 22:35] johnknoop commented on #251
Oh, I see. Thanks!

[2018-05-11 22:35] #251 closed

[2018-05-11 22:36] bruno-garcia commented on #251
You're welcome! ;)

[2018-05-14 10:48] roryprimrose commented on #125
@bruno-garcia Thanks for the feedback. I've started to integrate this into my asp.net core project.

How do I integrate ```HttpRequestBodyConverter``` into the middleware example above? I also want to populate the authenticated user from the execution context.

[2018-05-25 09:29] jamesmundy opened #254 "Client Returns 403 (Forbidden) when capturing using Microsoft Azure"
I've been struggling with a strange issue. The client works locally on my PC in debug and release modes and logs exceptions but when I deploy to Azure the client is unable to log any exceptions. I have attached a debugger and discovered every call to Sentry is returning 403: Forbidden and causing an exception.

Are Azure servers somehow blacklisted from using Sentry?
My code is pretty simple:

[co

[2018-05-25 09:44] jamesmundy commented on #254
Ok, this isn't related to this library but to some internal filters at Sentry. The Azure Data Centre I am using has been blocked:

[code]

[2018-05-25 10:01] jamesmundy commented on #254
Resolved with the help of this article: https://gitlab.com/gitlab-com/infrastructure/issues/2060
There are filters you can adjust in settings which I wasn't aware of. Turning the web-crawler option off worked and I am not receiving events.

[2018-05-25 10:01] #254 closed

[2018-05-29 08:58] stefandevo opened #255 "Question: Can this be used when app is offline"
Hi, just checking, but when this library is used in Xamarin mobile apps, is there any way of getting logs when the device is offline; meaning, it will hold the logs until the device is back online again?

[2018-05-29 12:14] bruno-garcia commented on #255
Not the C# integration but if its Xamarin Android you can integrate the Java SDK which allows that I believe and also the iOS should work with the Objective C SDK.
What kind of Xamarin app is it?

We'll will support on C# too hopefully soon.

[2018-06-07 06:11] mogikanin opened #256 "Wrong device architecture in SharpRaven.Data.Context.Device"
We use raven-csharp in windows desktop app.
packages.cofig:
[code]

We are running x86 process on x64 Windows, and raven-csharp reports x86 architecture in Device section.
I guess there is a typo on this line: https://github.com/getsentry/raven-csharp/blob/develop/src/app/SharpRaven/Data/Context/Device.cs#L215
There should be  `RuntimeInformation.OSArchitecture.ToString();`

[2018-06-07 07:04] bruno-garcia commented on #256
You're right!
`RuntimeInformation.ProcessArchitecture` should go into `App`.

[2018-06-07 08:48] #256 closed

[2018-06-07 10:14] #230 closed

[2018-06-07 14:19] bruno-garcia opened #258 "Don't report ILOffset as Line number"
In case the Line number is not available, currently we fallback to IL Offset.
The problem with this approach is that it becomes misleading and we've had support issues opened because of this.

- [ ] Do not implement a fallback in case Line Number is not available
- [ ] IL Offset can be reported via the field: `instruction_addr`. The value is a hex string currently limited to <=53bit

Docs: https:/

[2018-06-07 14:49] jviolas commented on #258
Will this have any impact on how Sentry is grouping events when no line number is found ?

[2018-06-07 15:21] bruno-garcia commented on #258
Hi @jviolas! It will not affect grouping as we do not use the line number for it.

[2018-06-07 18:54] jviolas commented on #258
Ok. Thanks. That's good to know.
I'm currently testing and integrating Sentry in a .Net WPF desktop app and I've had some issues with grouping stacktraces on other error reporting services, that's why I was wondering.

[2018-06-07 19:17] bruno-garcia commented on #258
It's a good point. How's sentry working out for you?
We'd really appreciate your feedback!

[2018-06-07 19:37] jviolas commented on #258
For now, great. We tested it with some various crashes to see how they're were handled and grouped. Even with some surrounding code changing to see if new crash occurrence was still group with previous ones. So far, it's good and we've decided to go with it. Also for an iOS/Android app with cordova.
The Jira integration doesn't quite fit our needs (we would prefer a two way sync for issue status)

[2018-06-08 11:20] bruno-garcia commented on #258
@jviolas Thanks for the detailed feedback! We're working on improving the experience for .NET devs further. That includes a new API to support future use cases and also unify the API across SDKs. With a unified API it'll also be easier to document the SDKs, too. We'll be focusing on that soon.

It'll also contain event persistence to allow offline scenarios. That'll be default for Xamarin integrat

[2018-06-09 07:50] jviolas commented on #258
@bruno-garcia Yes I've already seen the new repo and watching it. Don't hesitate to ping me if you need some test/feedback on the new SDK, especially in the context of a .NET WPF desktop app (not Xamarin or UWP). I'll be happy to help if Ican (and have time, that's the most difficult part...)

[2018-06-11 23:02] dhritzkiv opened #259 "Unable to override contexts data for Device"
I'm looking to send more data about the device (via Device context) but don't see a way to easily set data on it.

For example, I see there's a "model" property on the device context:

https://github.com/getsentry/raven-csharp/blob/0d27c1d05a1e4adb32b06023b446cfbbd37b6b2c/src/app/SharpRaven/Data/Context/Device.cs#L73

but I notice that it never gets set, and there's no easy way to set it. Am I mis

[2018-06-12 16:30] bruno-garcia commented on #259
Hi @dhritzkiv!
Those properties have public setters. You can access it by capturing an event directly:

[code]

If you are relying on `CaptureException(ex)`, I'm unaware of any hooks. `BeforeSend` gives you a `Requester` which has unstructured data already. In this case you'd need to create the Event from the Exception and capture the event as above.

[2018-06-12 16:48] dhritzkiv commented on #259
Thanks! This clarifies things a lot.

Would it perhaps be useful to be able to set the contexts data globally (via a factory override or otherwise), so that all future events could use that context data?

[2018-06-13 04:46] roryprimrose commented on #175
I just blogged about this the other day - https://www.neovolve.com/2018/06/07/ilogger-for-sentry/

That might meet your needs.

[2018-06-13 22:12] dcc635 opened #260 "No stack traces for intentional error captures"
None of these calls show a stack trace in Sentry:

- `ravenClient.Capture(new SentryEvent(message));`
  - shows the message in Sentry but no stack trace
- `ravenClient.Capture(new SentryEvent(new Exception(message)));`
  - shows the message in Sentry but no stack trace
- `ravenClient.Capture(new SentryEvent(new Exception()));`
  - shows `Exception of type 'System.Exception' was thrown.` in Sentry

[2018-06-14 10:47] bruno-garcia commented on #260
Hi @dcc635, that's a fair request. The reason its currently not there when there is no Exception is that the stacktrace is currently pulled out of the exception.

Could you please describe what kind of app you are building?
Also, what is the target framework?

We might be able to solve that with `Environment.Stacktrace` or something

[2018-06-14 11:17] bruno-garcia commented on #259
That's a good point.

We're taking that into account on the [new SDK](https://github.com/getsentry/sentry-dotnet) by ways of configuring a scope.

Any scope created inherits its parents data so you could essentially set a 'global' scope like this:

[code]

Would that work for you?
If so, would you be willing to try the preview we're going to release soon?

What kind of app are you building? ASP.NE

[2018-06-15 18:38] dhritzkiv commented on #259
Something like that would work, yes.

What I ended up doing in the meantime was setting the contexts data on the requester in the BeforeSend "callback".

---

I'd be willing to try a preview, yes, as long as it's mostly full-featured. We're building a WPF desktop app. Target is .NET Framework 4.6.2. We also have a fair bit of C++ code called by the C# code, which has always been a sore point for e

[2018-06-15 18:46] bruno-garcia commented on #259
That is very valuable information. Thanks!

At the moment we're working on ASP.NET Core. The SDK that supports that integration can be used by WPF in .NET Framework 4.6.2 too but we're not working on any automatic hooks yet except `AppDomain.Current.UnhandledException`.
The base API, already on the preview will expose most of Sentry's interfaces.

Is it fair to say that your current use is mostly

[2018-06-15 18:51] dhritzkiv commented on #259
It's all/mostly catching exceptions explicitly, and invoking CaptureEvent, in one form or another. There are some places where we also write to log4net, and have a convenience method that writes to both log4net and calls CaptureEvent.

We don't do anything automatic with P/Invoke (in fact, I'm not too familiar with that API)

[2018-06-15 18:56] bruno-garcia commented on #259
Ok than I hope that at the time of the launch of the first preview (next month), it could be feature ready. I'd have to dig into SharpRaven to be sure but I'm going through Sentry's docs and sending events as we build the API.

I'll get back to you soon :) Thanks in advance!

[2018-06-16 11:40] roh85 commented on #85
Any status updates on this?

[2018-06-28 13:28] bruno-garcia commented on #125
We've just released the first preview of the `ASP.NET Core` integration. It also brings in the `Microsoft.Extensions.Logging` so that your Informational log messages in the same transaction are sent as breadcrumbs.

I would love to get some feedback as we work toward a major release:

It's on NuGet: https://www.nuget.org/packages/Sentry.AspNetCore/

There's a video showing how to integrate in your

[2018-06-30 01:24] kanadaj opened #261 "Sentry skips User Agent parsing if context is set; SentryEvent.Context is internal"
As said in the title, Sentry's own User Agent parser always skips parsing if there is a Context specified. In use cases like ASP.NET and ASP.NET Core, the context usually contains no real value (as the runtime and OS version is controller by the developers), so being able to set Context to `null` would be a boon.

In the meanwhile, for anyone who is looking into why User-Agent isn't parsed into Br

[2018-06-30 08:40] bruno-garcia commented on #175
We've just released the first preview of the `ASP.NET Core` integration.

It also brings in the `Microsoft.Extensions.Logging` so that your Informational log messages in the same transaction are sent as breadcrumbs.

It's possible to use only the `Microsoft.Extensions.Logging`, without the _ASP.NET Core_ integration.
There's a [sample of it here](https://github.com/getsentry/sentry-dotnet/tree/mas

[2018-06-30 10:23] bruno-garcia commented on #207
We've release the first preview of the new API, which supports Proxy:

[code]

If you are using dependency injection and would like not to depend on `SentrySdk`, that's possible too. Please check [the docs](https://github.com/getsentry/sentry-dotnet/).

You can try it by installing the [Sentry package from NuGet](https://www.nuget.org/packages/Sentry/)

We have the [most basic sample here](https:/

[2018-06-30 10:29] bruno-garcia commented on #229
Hi @peyman-contribe , it seems you are using .NET Core.

We've just released the first preview of the `ASP.NET Core` integration. It also brings in the `Microsoft.Extensions.Logging` so that your Informational (or whatever level you configure) log messages in the same transaction are sent as breadcrumbs.

I would love to get some feedback as we work toward a point release:

It's on NuGet: https://

[2018-06-30 12:56] bruno-garcia commented on #261
Thank you for raising the issue.
We are working on a solution.

For ASP.NET Core, we've just [released a preview](https://www.nuget.org/packages/Sentry.AspNetCore/) of a new integration which hooks into the `WebHost`. Development is [happening here](https://github.com/getsentry/sentry-dotnet/).

It's also affected by the non-rendering of `User-Agent` when `Contexts` are available but you don't nee

[2018-06-30 13:07] kanadaj commented on #261
That looks like a very ominous version number to put on a production server, but I'll play around with it for the project we are starting on Monday :) .

The problem isn't as much of the `User-Agent` being on the top as having the string parsed and the browser info tagged, since without it, it's hard to spot cases where a specific browser is the cause of an issue.

It'd be preferable if the platfo

[2018-06-30 13:18] bruno-garcia commented on #261
Yeah I see what you are saying. Makes sense.

If User-Agent is available, the tagging as you suggested and also the widgets are shown. And additionally, the server information also available, perhaps further down the screen. This is something we have to work on Sentry itself and @billyvg will surely have a saying on this :)

True that a `0.0.1-preview1` is not something you'd want to put in produc

[2018-07-11 12:24] jviolas commented on #260
Hi !
I had the same issue today.
I've search a workaround without touching to SharpRaven code but it was not ideal.

I've managed to make the changes and I'll submit a PR.

@bruno-garcia For info, in my case, it's in the context of a desktop WPF application targeting .net 4.5.2
And I was not able to use `Environment.Stacktrace` because it's a string. I used directly the `StackTrace` class.

[2018-07-11 12:49] bruno-garcia commented on #260
Hi @jviolas. Looks good to me but better ask @asbjornu when the PR comes :)

[2018-07-17 13:54] bruno-garcia commented on #239
@chris-smith-zocdoc
We've been working on a new SDK which has a background worker-only approach.
The API is unified with JS, Rust and eventually all our SDKs. It contains a couple integrations that were built to verify the abstractions. More will come.

If you would give it a try, the repo is here: https://github.com/getsentry/sentry-dotnet/
Thanks in advance!

[2018-07-17 14:00] bruno-garcia commented on #259
Hi @dhritzkiv! We just release the third preview of the new SDK:
https://github.com/getsentry/sentry-dotnet/releases

I'd be interested if there is anything missing from your perspective. To capture events explicitly from WPF it should be pretty straight forward.

You can initialize the SDK with `SentrySdk.Init()`, optionally passing settings to it.
After that, you can call `SentrySdk.AddBreadcrum

[2018-07-17 14:18] bruno-garcia commented on #208
@bleppard We've release a new version of the new .NET SDK which contains **strong named** assemblies:

https://github.com/getsentry/sentry-dotnet/releases

[2018-07-17 14:25] bruno-garcia commented on #176
@nerfpops  We've release a new version of the new .NET SDK which contains **strong named** assemblies:

https://github.com/getsentry/sentry-dotnet/releases

[2018-07-17 14:47] dhritzkiv commented on #259
Thanks! I'm not sure when I'll get around to testing it, but I'm excited to try it

[2018-07-17 18:45] chris-smith-zocdoc commented on #239
Thanks for the heads up @bruno-garcia I'll make sure we check it out the next time we upgrade the sdk

[2018-07-25 07:25] Herve-M opened #266 "Feature - Add UnhandledExceptionEventHandler"
Hello,

I will be nice to have a (easy) solution to work with `AppDomain.UnhandledException` and other a-like.

[NBug](https://github.com/soygul/NBug/blob/master/NBug/Handler.cs) have a nice list to see.

Herve-M

[2018-07-25 08:52] bruno-garcia commented on #266
@Herve-M We're working on a [new SDK](https://github.com/getsentry/sentry-dotnet/) which already has that integration OOTB.
it's [possible to *disable* it though](https://github.com/getsentry/sentry-dotnet/blob/master/src/Sentry/SentryOptionsExtensions.cs#L31).

[2018-08-01 15:32] bruno-garcia commented on #186
We've been working on a new SDK and it would be great to get it tested for this issue.
The code is hosted on GitHub on this repository: https://github.com/getsentry/sentry-dotnet/
and it's published to NuGet as [Sentry](https://www.nuget.org/packages/Sentry)

It targets .NET Standard 2.0 which means supports:
.NET Framework 4.6.2, Mono 5.4 and .NET Core 2.0.

[2018-08-02 22:44] odannyc opened #267 "Setting the user per Sentry Capture"
I'm trying to figure out how to set the user (id, name, email) when I catch an Exception and then capture it with the ravenClient.
I tried looking to see if there was a way to set the user through the `SentryEvent` but there seems to be no way.

Can someone lead me through the right way of setting a user?

**Note**
I can't set the user when I create an instance of `RavenClient` because I don't hav

[2018-08-03 10:52] bruno-garcia commented on #267
Hi @odannyc,

SharpRaven has a `UserFactory` that is called in case the `JsonPacket` doesn't (already have a User set](https://github.com/getsentry/raven-csharp/blob/b43d392e055b5da823a4bbc91ad8739c635caf8e/src/app/SharpRaven/Data/JsonPacket.cs#L346).

We're working on a [new SDK](https://github.com/getsentry/sentry-dotnet) which has the same API across the other new SDKs.
It supports adding the u

[2018-08-08 12:13] edu-eng commented on #125
Do you have any support for previous versions of .Net? 2.0 more precisely webforms?

[2018-08-08 12:23] bruno-garcia commented on #125
[SharpRaven](https://www.nuget.org/packages/SharpRaven) supports anything from **.NET Framework 3.5** all the way to .NET Standard 2.0. Although for the latter we advise using our [new SDK](https://github.com/getsentry/sentry-dotnet/) instead.

[2018-08-08 13:42] edu-eng commented on #125
So I could use SharpRaven in an asp net webforms application? no problem?
And when to the Sentry Api user and a good use? is there documentation with
C #

Att,

[image: cid:image009.png@01D28B6E.099440E0]

*Eduardo Mendonça Braga**Skype:* eduardo@smnti.com.br

*Slack:* eduardomendonca

 www.smn.com.br

   Rua Elias Sampaio Silva, 2060

  Polo Industrial São Bernardo - Franca/SP
*   (16) 3409-9514

[2018-08-08 13:44] bruno-garcia commented on #125
Using SharpRaven with ASP.NET WebForms is a common use case.
This topic is unrelated to this issue so please raise a new issue to discuss it.

[2018-08-14 11:58] jwillmer commented on #267
Can we have the field `SentryEvent.User` in the SDK? I don't like to switch to an alpha to integrate users. Is there a way to set the user in the current SDK?

[2018-08-14 12:36] bruno-garcia commented on #267
We might accept a PR here if you want to contribute but we're focused on the new SDK right now which already has this feature. It doesn't make sense to put effort into adding this here too.

We'll release the SDK next month. It already has over 2000 downloads and we haven't received a bug report for the latest release. I wouldn't call it an alpha although I agree the version number looks like one.

[2018-08-14 12:42] jwillmer commented on #267
My workaround is to create a custom UserFactory and add it on `new RavenClient(dsn: dsn, sentryUserFactory: userfactory)`

[2018-08-14 12:43] bruno-garcia commented on #267
Glad that works for you. As I mentioned before, with the new SDK you can set the user to the scope (say per web request or when a desktop app starts) and any event sent after that point will include the user.

[2018-08-14 12:45] LoveDuckie commented on #186
@bruno-garcia cool, I'll give it a look. thanks.

[2018-08-23 19:58] alexanderkyte opened #268 "User-created exceptions"
I'd like to create a SentryException object by hand from a json blob. The current API makes that very difficult to do. It *is* a stack trace, just serialized.

[2018-08-23 20:20] alexanderkyte commented on #268
Plan:
- Add constructor to SentryStacktrace that takes an array of StackFrame for PR
- Build Frames array (ExceptionFrame) from this array of StackFrame
- Build StackFrame with: https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.stackframe.-ctor?view=netframework-4.7.2#System_Diagnostics_StackFrame__ctor_System_String_System_Int32_

[2018-08-24 10:13] bruno-garcia commented on #268
@alexanderkyte sounds like a fair request. I'd be glad to merge a PR.

It's worth noting we've been working on a [new SDK](https://github.com/getsentry/sentry-dotnet). It's an initiative from Sentry to unify the API across all SDKs. First ones are [.NET](https://github.com/getsentry/sentry-dotnet), [Rust](https://github.com/getsentry/sentry-rust) and [JavaScript](https://github.com/getsentry/sentr

[2018-08-27 21:30] mitsuhiko opened #269 "Kill in repo-docs"
The docs live elsewhere now. `docs` should go. Would have deleted it but the files are referenced in the solution.

[2018-08-28 09:25] #269 closed, assigned to bruno-garcia

[2018-08-28 09:27] bruno-garcia commented on #241
@mehdymohajery we've release the RC of [our new SDK](https://github.com/getsentry/sentry-dotnet).
Could you please check if it's reproducible with it?

[2018-09-07 01:23] braunsonm opened #271 "Development RavenClient"
Is there anyway to create a RavenClient without a DSN for development environments? I'd like to keep the SENTRY_DSN as a environment variable only set in production.

However because the RavenClient raises an exception if the DSN is null this breaks any code that uses the raven client in a dev environment.

Is there a suggested way of handling this? This method of not passing in a DSN works on the

[2018-09-07 03:22] braunsonm commented on #271
This is possible in the new client.

[2018-09-07 03:22] #271 closed, assigned to nobody

[2018-09-26 09:45] ArthurRyan0803 opened #272 "If there is any possibility to Compatible to .net 2.0 ?"
my project is based on .net 2.0.

[2018-09-26 15:43] bruno-garcia commented on #272
@ArthurRen .NET Framework 2.0 is replaced by .NET Framework 3.5 with any Windows machine that gets Windows Update.

Could you please explain what use case you have where an app can't be upgraded from .NET Framework 2.0 to 3.5?

[2018-09-28 03:57] ArthurRyan0803 commented on #272
@bruno-garcia
emmm.... i'm a Chinese developer and there is still some people use win-xp computer ...
But never mind ,  i have modified some code in order to compatible with .net 2.0 by myself , and i havn't found any problem so far.

Just need to implement "Extension Method" & "TimeZoneInfo ".

[2018-09-28 10:29] bruno-garcia commented on #272
@ArthurRen .NET Framework 3.5 is compatible with Windows XP:

https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/versions-and-dependencies

[2018-09-28 11:07] ArthurRyan0803 commented on #272
@bruno-garcia
In china , there are many kinds of "Windows XP" ，and some pirated Windows XP are not well compatible with .NET 3.5  or higher version，some users could not even install .net 3.5.

[2018-09-28 14:58] bruno-garcia commented on #272
@ArthurRen Unfortunately the maintenance burden is not really worth it for us. Tooling wise it's also tricky, even to get a machine with CLR 2.0, which gets replaced by the 3.5 when the machine is 'Windows Updated'.

Microsoft released a lot in the last **13 years**, current version being .NET Framework 4.7.2 which is 12 version (3.5, 3.5 SP1, 4.0, 4.5, 4.5.1, 4.5.2, 4.6, 4.6.1, 4.6.2, 4.7, 4.7.1,

[2018-09-28 14:58] #272 closed, assigned to nobody

[2018-10-09 08:05] senad004 commented on #205
Hello All, I am using .NET framework 4.5.2 and using SharpRaven for capturing exception. It is working fine in debug mode and on IIS 7 . But not passing error to Sentry when I am using IIS 8 . Can you please help me to resolve this problem?

[2018-10-09 08:07] bruno-garcia commented on #205
@senad004 could you please try the [new .NET SDK](https://github.com/getsentry/sentry-dotnet) which follows the Sentry [unified API](https://blog.sentry.io/2018/09/19/new-sdks-unified-python-javascript-dotnet-rust).

If it still doesn't work, please open an issue on that repository.

[2018-10-11 11:56] bruno-garcia commented on #239
@chris-smith-zocdoc
The new SDK sends events on a background task is been released.

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

I'll close this issue but please feel free to reopen or open one in the new repository if you have any issues integrating. We'll be happy to help you moving over to the new SDK.

[2018-10-11 11:56] #239 closed

[2018-10-11 11:58] bruno-garcia commented on #207
We've released the new SDK:

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

I'll close this issue but please feel free to reopen or open one in the new repository if you have any issues integrating. We'll be happy to help you moving over to the new SDK.

[2018-10-11 11:58] #207 closed

[2018-10-11 11:59] bruno-garcia commented on #266
We've released the new SDK which solves this issue:

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

I'll close this issue but please feel free to reopen or open one in the new repository if you have any issues integrating. We'll be happy to help you moving over to the new SDK.

[2018-10-11 11:59] #266 closed, assigned to nobody

[2018-10-11 12:01] #260 closed

[2018-10-11 12:02] bruno-garcia commented on #175
We've released the new SDK which solves this issue:

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

I'll close this issue but please feel free to reopen or open one in the new repository if you have any issues integrating. We'll be happy to help you moving over to the new SDK.

[2018-10-11 12:02] #175 closed

[2018-10-11 12:02] bruno-garcia commented on #129
We've released the new SDK which solves this issue:

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

I'll close this issue but please feel free to reopen or open one in the new repository if you have any issues integrating. We'll be happy to help you moving over to the new SDK.

[2018-10-11 12:02] #129 closed

[2018-10-11 12:02] bruno-garcia commented on #191
We've released the new SDK which solves this issue:

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

I'll close this issue but please feel free to reopen or open one in the new repository if you have any issues integrating. We'll be happy to help you moving over to the new SDK.

[2018-10-11 12:02] #191 closed

[2018-10-11 12:06] bruno-garcia commented on #246
Since we've release  a new SDK, we currently have no plans to release a v3 of SharpRaven.
This might change in the future in which case a new task will be created.

The new Sentry .NET SDK is based on [Sentry's unified SDK](https://blog.sentry.io/2018/09/19/new-sdks-unified-python-javascript-dotnet-rust):

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

[2018-10-11 12:06] #246 closed

[2018-10-11 12:07] bruno-garcia commented on #267
We've released the new SDK which solves this issue:

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

I'll close this issue but please feel free to reopen or open one in the new repository if you have any issues integrating. We'll be happy to help you moving over to the new SDK.

[2018-10-11 12:07] #267 closed, assigned to nobody

[2018-10-11 12:08] bruno-garcia commented on #261
We've released the new SDK which solves this issue:

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

I'll close this issue but please feel free to reopen or open one in the new repository if you have any issues integrating. We'll be happy to help you moving over to the new SDK.

[2018-10-11 12:08] #261 closed, assigned to nobody

[2018-10-11 12:09] bruno-garcia commented on #202
Closed due to inactivity.

Also, note we've released a new SDK:

https://github.com/getsentry/sentry-dotnet/releases

[2018-10-11 12:09] #202 closed

[2018-10-11 12:13] bruno-garcia commented on #229
We've released the new SDK which doesn't have dependency to `System.Configuration.ConfigurationManager`.

[2018-10-11 12:13] #229 closed

[2018-10-11 12:15] peyman-contribe commented on #229
@bruno-garcia Great! Thanks

[2018-10-11 12:20] bruno-garcia commented on #206
We've released the new SDK which solves this issue:

https://github.com/getsentry/sentry-dotnet/releases

https://www.nuget.org/packages/Sentry

With the new SDK there are two ways to go about this. One is using a `Func<SentryEvent, SentryEvent>` called `BeforeSend`, which allows you modify the event, avoid sending the event altogether (returning null) or simply returning a completely new event.

[2018-10-11 12:20] #206 closed

[2018-10-11 12:25] bruno-garcia commented on #196
@PsychoTea Sorry for getting to this thread so late.
Do you still use Unity 4.5.5?
Sentry is aiming Unity support now and [I'm curious to know which versions are being used](https://twitter.com/brungarc/status/1049630060460867584) out there.

[2018-10-11 12:54] jwillmer commented on #267
@bruno-garcia Could you point me to the feature/option?

[2018-10-11 13:06] bruno-garcia commented on #267
@jwillmer no problem:

The simplest way IMO is to add it directly to the event:

[code]

Another way is to set it to the scope, so any subsequent events sent out will include that data (in this case, User):

[code]

The reason I `PushScope` here is to isolate this with another path of execution of the app. For example in a web server handling requests, if you didn't Push a new scope, you'd be alwa

[2018-10-11 15:04] PsychoTea commented on #196
@asbjornu Sorry for my lack of response, I moved away from the project but will hopefully be able to take a look at it again.

@bruno-garcia Yes, but not through choice 😛 I'm working on a modding platform for a custom version of an old game, so I'm probably in the minority in working on such an old version.

[2018-10-11 15:36] bruno-garcia commented on #196
@PsychoTea good to know.
What we're working on might be possible to make compatible with 4.5 but I'm not sure we'll take the effort right now.

We're aiming 5.6 right now to get a first version out.
In case you'd like to participate, join the repo:

https://github.com/getsentry/sentry-unity

Feel free to open an issue there and link to this for Unity 4.x support.

[2018-10-11 15:41] #196 closed

[2018-10-18 17:46] senad004 opened #275 "Unable to capture the execution time on Sentry"
Hi All,

I am using SharpRaven dll for capturing errors, logger information in C#. Will Sentry capture method execution time? This will help me to focus on performance related things. Please help on this.

Note: I am using Log4Net for capturing execution time now. Now I am looking to replace it by Sentry. So I want all details that arre already captured in Log4Net.
Please share your suggestions.

[2018-10-19 09:01] bruno-garcia commented on #275
@senad004
Sentry's SDKs are designed to capture errors automatically and include as much relevant context as possible. It's not part of the SDK to track execution time of each method. Doing that could have a significant impact on your application's performance and it's usually only done for performance tuning.

If you already have the tracking done with log4net, we have a new .NET SDK which has a

[2018-10-19 09:51] senad004 commented on #275
@bruno-garcia
Thanks for your reply. I am trying to install sentry.Log4Net 1.0.0 and getting below exception. Do you have any idea on this? Will it require any additional assemblies?

Error - Could not install package 'Sentry.Log4Net 1.0.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2', but the package does not contain any assembly references or

[2018-10-19 10:10] bruno-garcia commented on #275
The new SDK targets .NET Standard 2.0.
This is the same issue you raised on the other repo: https://github.com/getsentry/sentry-dotnet/issues/114

I advise upgrading your app to .NET Framework 4.7.2

[2018-10-19 12:14] senad004 commented on #275
Hi @bruno-garcia  I upgraded it already. But still getting the same issue. Can you please share the dll ? That may help

[2018-10-19 12:15] bruno-garcia commented on #275
The message you shared says:

So the project still targets 4.5.2. On Project properties you can toggle that to .NET 4.7.2.

There's no need to deal with the DLLs directly when NuGet is used.
NuGet takes care of finding the right DLLs built depending on what your app targets (.NET Core, .NET Framework and the version)

[2018-10-19 12:21] senad004 commented on #275
Oh . Sorry I am updating with 4.6.1 . Let me install 4.7.2 framework and try it

[2018-10-19 12:22] bruno-garcia commented on #275
4.6.1 should already work although Microsoft has recently advised updating to 4.7.2 due to some issues with 4.6.1 backported compatibility to .NET Standard 2.0.

[2018-10-19 12:33] senad004 commented on #275
Ok got it.

[2018-10-27 10:14] ArthurRyan0803 opened #276 "Build.cake error"
I try to run build.cake and get a error :
Then i search the error and find [https://github.com/GitTools/GitVersion/issues/1377](url) , so i replace GitVersionOutput.Json with GitVersionOutput.BuildServer.
But the build is still failed , an other expcetion thrown :

`ERROR [10/27/18 18:01:44:71] An unexpected error occurred:
GitVersion.OldConfigurationException: GitVersion configuration file contai

[2018-11-06 11:07] adri21112 opened #277 "Unity 2017 with .NET 3.5 not send events to Sentry"
Hi.
I am working in a Android project with unity 2017 and .NET 3.5 (this is mandatory)
So I try to work with Sentry with Raven-csharp integration. The Nuget package its instaled without errors and the app runs perfect. But the Sentry platform doesn't recibe the post and the android monitor doesn't show errors.

This is my first code:
`
ravenClient = new RavenClient("my_project_url");
string result

[2018-11-07 08:08] bruno-garcia commented on #277
@adri21112 `SharpRaven` doesn't support Unity.
We've made a first release of our [sentry.unity.lite SDK](https://github.com/getsentry/sentry-unity).

Please use that one instead.

[2018-11-07 08:08] #277 closed, assigned to nobody

[2018-11-14 03:00] knocte opened #278 "DllNotFoundExceptions and SecurityException when using with Mono"
When testing my app in Ubuntu 18.04, I've seen these stacktraces when SharpRaven apparently tried to send reports to Sentry:

[code]

[2018-11-14 10:23] bruno-garcia commented on #278
It's trying to get .NET Framework installation through `Get45PlusLatestInstallationFromRegistry` while running on Mono. This code path only makes sense when running on Windows though.

The code does have a guard:

https://github.com/getsentry/raven-csharp/blob/952adead4551042b51fa624982a8804ddb8752a6/src/app/SharpRaven/Utilities/RuntimeInfoHelper.cs#L40-L43

Could you please describe your app a bi

[2018-11-17 14:32] bruno-garcia commented on #186
Closing due to inactivity - no reports once 2.3.2 was released

[2018-11-17 14:32] #186 closed

[2018-12-02 20:18] willson556 commented on #85
I noticed the following page in the docs recently: https://docs.sentry.io/cli/dif/pdb/

I haven't had chance to try it yet but it looks promising.

[2019-01-06 16:52] bruno-garcia commented on #268
Will be tracked here:
https://github.com/getsentry/sentry-dotnet-protocol/issues/24

[2019-01-06 16:52] #268 closed, assigned to nobody

[2019-01-09 10:29] bruno-garcia commented on #241
Closing due to inactivity.

[2019-01-09 12:13] bruno-garcia commented on #162
Being tracked here: https://github.com/getsentry/sentry-dotnet/issues/131

[2019-01-09 12:13] #162 closed

[2019-01-09 12:21] bruno-garcia commented on #275
Closing as it seems done. Feel free to reopen (ideally in the right repo getsentry/sentry-dotnet)

[2019-01-09 12:21] #275 closed, assigned to nobody

[2019-02-20 21:17] ryno1234 opened #279 "FileNotFoundException for System.Configuration.ConfigurationManager when referenced from .Net Standard library"
We have a `.Net Standard` library which we created that references `Raven v2.4.0`. We call this our "Error Tracking" library - it essentially wraps Raven.

When we create a `.Net Framework` application that references our "Error Tracking" library (again, which is `.Net Standard`), we get an exception anytime we attempt to access Raven:

`Could not load file or assembly 'System.Configuration.Config

[2019-02-21 10:43] bruno-garcia commented on #279
Since your app is .NET Framework and so is Raven (multi targets), I'd suggest turning your `Error tracking` library into .NET Framework (or at least multi target).
There are many issues related to dependency resolutions when .NET Framework apps depend on .NET Standard libraries that microsoft finally advises everyone to always include a .NET Framework target if consumer is expected to be .NET Fram

[2019-02-21 13:53] ryno1234 commented on #279
Thanks @bruno-garcia. Do you have a link to to Microsoft's comment about this so I can read up on it?

Also, I think it would be beneficial to other's to know that they cannot simply build a .Net Standard library that uses Raven without multi-targeting. Perhaps something about this can be added to the docs.

[2019-02-21 13:57] bruno-garcia commented on #279
I'll point to you this: https://github.com/getsentry/sentry-dotnet/issues/135#issuecomment-438599084 which will add some context from Sentry side and further into Microsoft.

Doing `netfx` -> `ns` -> `netfx` *might* work. But it might give you a headache. We tried avoid the multi targeting here until customers started hitting problems. The link above has some details.
I hope it helps.

[2019-05-09 10:02] kziajor-zz opened #280 "Question: How to check if error occured while sending error from app to sentry server"
We try to log errors to sentry in one project. From our local machine every error is send to sentry and is logged correctly. But when we run same app with same configuration on client server, sentry do not log any errors. When we generate error in Javascript code on client server everything works fine. So client server has connection with sentry server, but C# app don't send errors to sentry. We d

[2019-05-13 10:46] bruno-garcia commented on #280
@kziajor Unless you are already integrated with and this is a bug report for raven-csharp, I'd suggest you use give it a try with [our current .NET SDK](https://github.com/getsentry/sentry-dotnet) since raven-csharp has been deprecated [see notice on README](https://github.com/getsentry/raven-csharp#note). If the problem persists please raise an issue on that repository.

Also, we'd need more info

[2019-05-13 10:46] #280 closed, assigned to nobody

[2019-05-13 12:01] #193 closed

[2019-05-13 12:02] bruno-garcia commented on #255
Tracked here: https://github.com/getsentry/sentry-dotnet/issues/80

[2019-05-13 12:02] #255 closed

[2019-05-13 12:04] #279 closed, assigned to nobody

[2019-07-04 11:46] Anandkumar2007 commented on #23
rtertertreter

[2019-11-15 13:18] #61 closed

[2019-11-15 13:34] knocte commented on #278
I guess I haven't seen this again.

[2019-11-15 13:37] bruno-garcia commented on #278
That's good to know.
do you plan to move to NuGet package `Sentry`?
What are the reasons not to? Tks